---
title: Rezervační systémy
subtitle: Tvorbu mobilních a webových aplikací nechte na nás. Soustřeďte se na to důležité a nespokojte se s “krabicovým řešením”.
---
<div class="what-we-do">
  <header></header>
  <div class="title">
    <div class="back-fixed" data-aos="fade-left">
      <a href="/"><i class="fa fa-3x fa-arrow-circle-left"></i></a>
    </div>
    <h1 data-aos="fade-up">Rezervační systémy</h1>
    <h2 data-aos="fade-up">Tvorbu mobilních a webových aplikací nechte na nás.<br />Soustřeďte se na to důležité a nespokojte se s “krabicovým řešením“.</h2>
  </div>

  <div class="info">
    <div class="box left">
      <div class="img-wrap"><img alt="Pro koho umíme vytvořit zakázkový rezervační systém?" src="/images/app_kinds/reservation_systems_1.jpg" data-aos="fade-right" /></div>
      <div class="offset" data-aos="fade-left">
        <p><b>Kdy si nechat vytvořit zakázkový rezervační systém?</b></p>
        <ul>
          <li>Poskytujete kvalitní služby, které si zákazníci si rezervují.</li>
          <li>Jste skvělý hotel či jiné zařízení a nevyhovují vám krabicové systémy.</li>
          <li>Máte více zaměstnanců, jejichž čas potřebujete efektivně organizovat.</li>
          <li>Chcete zajistit různé zdroje, jako zařízení, prostory apod.</li>
          <li>Potřebujete rezervovat místa v dopravních prostředcích.</li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <br>
    <h3 class="text-green" data-aos="fade-up">Poradíme si se všemi typy rezervačních systémů. Zmapujeme procesy,<br />uživatele a datové struktury a rádi navrhneme optimální řešení.</h3>
  <div class="info">
    <div class="box right">
      <img alt="Rezervační systémy" src="/images/app_kinds/reservation_systems_2.jpg" data-aos="fade-left" />
      <div class="offset" data-aos="fade-right">
        <p><b>Proč si od nás nechat vypracovat rezervační systém na míru?</b></p>
        <ul>
          <li>Zcela jej optimalizujeme pro vaše potřeby.</li>
          <li>Můžete nabízet služby přesně tak, jak potřebujete, a nemusíte se přizpůsobovávat nepružnému systému.</li>
          <li>Rezervační proces bude otevřený dalšímu rozvoji a zlepšování.</li>
          <li>Můžete rozšiřovat své služby, přidávat bonusy apod.</li>
          <li>Rádi Vás napojíme na jakékoli platební brány.</li>
          <li>Rezervační systém snadno provážeme s vaším účetnictvím, CRM či jakýkoliv jiným integrovatelným systémem.</li>
        </ul>
        <p><a href="/kontakt">Obraťte se na nás.</a></p>
      </div>
    </div>
  </div>
  <%= partial 'kinds_of_products' %>
  <%= partial 'our_technology' %>
</div>

<%= partial 'footer' %>

<script type="text/javascript">
  $(document).ready(function() {
    $('.we-are-the-champions').slick({
      autoplay: true,
      autoplaySpeed: 2000,
      dots: true
    });
  });

  $('.back-fixed').on('mouseenter', function() {
    $(this).addClass('animated pulse');
  }).on('mouseleave', function() {
    $(this).removeClass('animated pulse');
  })
</script>
