---
title: iQuest - Detail Passive houses BAHAL
---
<div class="page-load">
  <div class="page-scroll-show page-offset bahal">
    <div class="header wrapper-center">
      <div class="inner-center">
        <img class="logo" alt="Bahal" src="/images/Refs/bahal.png" data-aos="fade-up" />
      </div>
    </div>
    <div class="content">
      <a class="page-scroll-left" href="#" data-aos="fade-left"> <i class="fa fa-4x fa-arrow-circle-left"></i>
      </a>
      <a class="page-scroll-right" href="#" data-aos="fade-right"> <i class="fa fa-4x fa-arrow-circle-right"></i>
      </a>
      <div class="row">
        <div class="col-60">
          <a class="back text-blue" onclick="window.history.back(); return false;" href="#" data-aos="fade-left"> <i class="fa fa-lg fa-arrow-left"></i> <b>Zpět</b>
          </a>
          <h1 data-aos="fade-up">Unikátní webový portál pro společnost BAHAL</h1>
         <h3 data-aos="fade-up">Pomohli jsme navrhnout, vytvořili jsme a provozujeme unikátní webový portál pro společnost BAHAL, který umožňuje zákaznickou konfiguraci a kalkulaci stavby nového pasivního či nízkoenergetického domu.</h3>
         <p data-aos="fade-up">Společnost BAHAL tak může nabídnout maximálně komfortní cestu k výběru rodinného domu, a to pomocí pár kliknutí. Součástí je též porovnávač variant vybraných domů a sofistikovaný modul pro oslovení potencionálních klientů.</p>
         <p data-aos="fade-up">Naším úkolem bylo uspořádat tisíce řádků dat kombinací jednotlivých variant domů a vytvořit z nich přehledný a jednoduchý nástroj pro snadnou orientaci zákazníků.</p>
         <p data-aos="fade-up">Veškerý datový obsah je plně administrovatelný správcem portálu na straně zákazníka.</p>
        </div>
        <div class="col-40">
          <div class="icons" data-aos="fade-left">
            <img alt="Notebook_and_mouse_cursor_128" src="/images/nnotebook_and_mouse_cursor_128.png" />
            <img alt="Go_to_web_128" src="/images/ggo_to_Web_128.png" />
            <img alt="Phone_with_hand_128" src="/images/pphone_with_Hand_128.png" />
          </div>
          <div class="skills panel" data-aos="fade-up">
            <p><b>Potřebné dovednosti:</b>
              <ul>
                <li><a href="#detailni_funkcni_procesni_a_datova_analyza">Detailní funkční, procesní a datová analýza.</a></li>
                <li><a href="#navrh_informacniho_systemu">Návrh informačního systému.</a></li>
                <li><a href="#tvorba_analytickych_modelu">Tvorba analytických modelů.</a></li>
                <li><a href="#programovani">Programování.</a></li>
                <li><a href="#systemova_integrace">Systémová integrace.</a></li>
                <li><a href="#projektove_rizeni">Projektové řízení.</a></li>
                <li><a href="#vyvoj_pro_mobilni_zarizeni">Vývoj pro mobilní zařízení.</a></li>
                <li><a href="#integrace_mapoveho_subsystemu">Integrace mapového subsystému.</a></li>
                <li><a href="#adaptace_uzivatelu">Adaptace uživatelů.</a></li>
                <li><a href="#provozovani_v_prostredi_cloudu">Provozování v prostředí cloudu.</a></li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial 'skill_list' %>

<script type="text/javascript">
  page_scroll(["greenswan", "partspoint", "cemio", "modry-andel", "procare", "eurosignal", "cia-news", "autoprima", "ignum", "bahal", "amca", "hasek", "extenso", "paartyy"]);
</script>
