---
title: iQuest - Detail Passive houses BAHAL
---
<div class="page-load">
  <div class="page-scroll-show page-offset bahal">
    <div class="header wrapper-center">
      <div class="inner-center">
        <img class="logo" alt="Bahal" src="/images/Refs/bahal.png" />
      </div>
    </div>
    <div class="content">
      <a class="page-scroll-left" href="#"> <i class="fa fa-4x fa-arrow-circle-left"></i>
      </a>
      <a class="page-scroll-right" href="#"> <i class="fa fa-4x fa-arrow-circle-right"></i>
      </a>
      <div class="row">
        <div class="col-60">
          <a class="back text-blue" onclick="window.history.back(); return false;" href="#"> <i class="fa fa-lg fa-arrow-left"></i> <b>Back</b>
          </a>
          <h1>A unique web portal for the company BAHAL</h1>
          <h3>We helped devise, we have developed and operate unique web portal for the company BAHAL, which allows the customer to configure and calculate the new passive or low energy house.</h3>
          <p>BAHAL company can offer the most comfortable way to choose a house, not just a few clicks. It also includes a comparator variant of selected houses and sophisticated module for reaching potential clients.</p>
          <p>Our task was to organize thousands of rows of data by combining the individual variants of houses and make them clear and simple tool for easy customer orientation.</p>
          <p>All data content is fully administered by the administrator portal for the customer.</p>
        </div>
        <div class="col-40">
          <div class="icons">
            <img alt="Notebook_and_mouse_cursor_128" src="/images/nnotebook_and_mouse_cursor_128.png" />
            <img alt="Go_to_web_128" src="/images/ggo_to_Web_128.png" />
            <img alt="Phone_with_hand_128" src="/images/pphone_with_Hand_128.png" />
          </div>
          <div class="skills panel">
            <p><b>Required Skills:</b>
              <ul>
                <li><a href="#detailni_funkcni_procesni_a_datova_analyza">Detailed functional, process and data analysis.</a></li>
                <li><a href="#navrh_informacniho_systemu">Design of an information system.</a></li>
                <li><a href="#tvorba_analytickych_modelu">Creation of analytical models.</a></li>
                <li><a href="#programovani">Programming.</a></li>
                <li><a href="#systemova_integrace">System integration.</a></li>
                <li><a href="#projektove_rizeni">Project management.</a></li>
                <li><a href="#vyvoj_pro_mobilni_zarizeni">Developing for mobile devices.</a></li>
                <li><a href="#integrace_mapoveho_subsystemu">Integration of mapping subsystem.</a></li>
                <li><a href="#adaptace_uzivatelu">Adaptation of users.</a></li>
                <li><a href="#provozovani_v_prostredi_cloudu">Running in a cloud environment.</a></li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial 'skill_list' %>

<script type="text/javascript">
  page_scroll(["greenswan", "partspoint", "cemio", "modry-andel", "procare", "eurosignal", "cia-news", "autoprima", "ignum", "bahal", "amca", "hasek", "extenso", "paartyy"]);
</script>
