---
title: iQuest - CRM (Client Relationship Management) system tailored for Cemio Switzerland AG
---
<div class="page-load">
  <div class="page-scroll-show page-offset cemio">

    <div class="header wrapper-center">
      <div class="inner-center">
        <img class="logo" alt="Cemio" src="/images/Refs/cemio.png" data-aos="fade-up" />
      </div>
    </div>

    <div class="content">
      <a class="page-scroll-left" href="#" data-aos="fade-left"> <i class="fa fa-4x fa-arrow-circle-left"></i>
      </a>
      <a class="page-scroll-right" href="#" data-aos="fade-right"> <i class="fa fa-4x fa-arrow-circle-right"></i>
      </a>
      <div class="row">
        <div class="col-60">
          <a class="back text-blue" onclick="window.history.back(); return false;" href="#" data-aos="fade-left"> <i class="fa fa-lg fa-arrow-left"></i> <b>Zpět</b>
          </a>
          <h1 data-aos="fade-up">CRM (client relationship management) systém na míru pro Cemio Switzerland AG</h1>
          <h3 data-aos="fade-up">CRM systém na míru management obchodních reprezentantů</h3>
          <p data-aos="fade-up">Zrychlili jsme práci týmu obchodních reprezentantů.</p>
          <p data-aos="fade-up">Management obchodních reprezentantů zejména ve farmaceutickém průmyslu je obor, do kterého jsme se hodně zabrali.</p>
          <p data-aos="fade-up">Systém umožňuje plánování návštěv repů na jednotlivých lékárnách, řízení obsahu návštěv i záznam případných spojených nákladů, ponechaného materiálu, merchandisingových aktivit a pořízených objednávek.</p>
          <p data-aos="fade-up">Vyvinuli jsme a neustále rozvíjíme CRM systém (client relationship management) pro tohoto významného zákazníka. Systém je navržen a optimalizován pro efektivní řízení obchodních reprezentantů v terénu. Díky propracovanosti každého detailu a využití dlouhodobých zkušeností s vývojem softwarů pro podporu pracovníků v terénu se podařilo maximalizovat prodejní výkonnost obchodních reprezentantů.</p>
          <p data-aos="fade-up">Perfektní přehled o vlastních i konkurenčních produktech a jejich prodejích, obchodní výkonnosti zákazníků, aktuálních obchodních akcích, možnostech výhod pro rozdílné zákazníky atd. Toto a mnohem více zprostředkovává mobilní aplikace obchodním reprezentantům. Přímo z tabletu lze online odesílat objednávky přes systém integrovaný přímo s distributory. Analytická část dává managementu detailní přehledy o prodejích, zákaznících i jednotlivých členech i celých prodejních týmech, a to historicky i v reálném čase.</p>
        </div>
        <div class="col-40">
          <div class="icons" data-aos="fade-left">
            <img alt="Notebook_and_mouse_cursor_128" src="/images/nnotebook_and_mouse_cursor_128.png" />
            <img alt="Go_to_web_128" src="/images/ggo_to_Web_128.png" />
            <img alt="Phone_with_hand_128" src="/images/pphone_with_Hand_128.png" />
          </div>
          <div class="skills panel" data-aos="fade-up">
            <p><b>Potřebné dovednosti:</b>
              <ul>
                <li><a href="#detailni_funkcni_procesni_a_datova_analyza">Detailní funkční, procesní a datová analýza.</a></li>
                <li><a href="#navrh_informacniho_systemu">Návrh informačního systému.</a></li>
                <li><a href="#tvorba_analytickych_modelu">Tvorba analytických modelů.</a></li>
                <li><a href="#programovani">Programování.</a></li>
                <li><a href="#systemova_integrace">Systémová integrace.</a></li>
                <li><a href="#projektove_rizeni">Projektové řízení.</a></li>
                <li><a href="#vyvoj_pro_mobilni_zarizeni">Vývoj pro mobilní zařízení.</a></li>
                <li><a href="#integrace_mapoveho_subsystemu">Integrace mapového subsystému.</a></li>
                <li><a href="#adaptace_uzivatelu">Adaptace uživatelů.</a></li>
                <li><a href="#provozovani_v_prostredi_cloudu">Provozování v prostředí cloudu.</a></li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial 'skill_list' %>

<script type="text/javascript">
  page_scroll(["greenswan", "partspoint", "cemio", "modry-andel", "procare", "eurosignal", "cia-news", "autoprima", "ignum", "bahal", "amca", "hasek", "extenso", "paartyy"]);
</script>
