---
title: iQuest - Internal information system for the company Eurosignal
---
<div class="page-load">
  <div class="page-scroll-show page-offset eurosignal">
    <div class="header wrapper-center">
      <div class="inner-center">
        <img class="logo" alt="Eurosignal_inverse" src="/images/Refs/eurosignal_inverse.png" />
      </div>
    </div>
    <div class="content">
      <a class="page-scroll-left" href="#"> <i class="fa fa-4x fa-arrow-circle-left"></i>
      </a>
      <a class="page-scroll-right" href="#"> <i class="fa fa-4x fa-arrow-circle-right"></i>
      </a>
      <div class="row">
        <div class="col-60">
          <a class="back text-blue" onclick="window.history.back(); return false;" href="#"> <i class="fa fa-lg fa-arrow-left"></i> <b>Back</b>
          </a>
          <h1>Internal information system for the company Eurosignal</h1>
          <h3>Comprehensive internal information system with client self-service for internet service providers.</h3>
          <p>We have built and developed a corporate information system for rapidly developing Czech internet service provider, IPTV and other services.</p>
          <p>The system enables complete management of clients, contracts, tariffs and other data needed for effective management of companies with thousands of connected customers.</p>
          <p>The system also allows direct connection technicians and field service management and customer self-service through which customers themselves can modify the selected settings, and having access to the necessary information and documents.</p>
          <p>For maximum simplification and acceleration of the work the system is integrated to the accounting software and hardware resources of the Internet.</p>
        </div>
        <div class="col-40">
          <div class="icons">
            <img alt="Notebook_and_mouse_cursor_128" src="/images/nnotebook_and_mouse_cursor_128.png" />
            <img alt="Go_to_web_128" src="/images/ggo_to_Web_128.png" />
            <img alt="Phone_with_hand_128" src="/images/pphone_with_Hand_128.png" />
          </div>
          <div class="skills panel">
            <p><b>Required Skills:</b>
              <ul>
                <li><a href="#detailni_funkcni_procesni_a_datova_analyza">Detailed functional, process and data analysis.</a></li>
                <li><a href="#navrh_informacniho_systemu">Design of an information system.</a></li>
                <li><a href="#tvorba_analytickych_modelu">Creation of analytical models.</a></li>
                <li><a href="#programovani">Programming.</a></li>
                <li>Integration of payment methods.</li>
                <li><a href="#systemova_integrace">System integration.</a></li>
                <li>Integration of hardware resources of the network.</li>
                <li>Implementation of map subsystems.</li>
                <li>Trvalý rozvoj rozsáhlého Continuous development of large-scale information system systému.</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial 'skill_list' %>

<script type="text/javascript">
  page_scroll(["greenswan", "partspoint", "cemio", "modry-andel", "procare", "eurosignal", "cia-news", "autoprima", "ignum", "bahal", "amca", "hasek", "extenso", "paartyy"]);
</script>
