---
title: iQuest - Web portal and B2B e-commerce for Partspoint Czech, Czech AUTOPRIMA, AUTOPRIMA Slovakia and Slovakia AMŠ
---
<div class="page-load">
  <div class="page-scroll-show page-offset partspoint">
    <div class="header wrapper-center">
      <div class="inner-center">
        <img class="logo" alt="Partspoint_inverse" src="/images/Refs/partspoint_inverse.png" />
      </div>
    </div>
    <div class="content">
      <a class="page-scroll-left" href="#"> <i class="fa fa-4x fa-arrow-circle-left"></i>
      </a>
      <a class="page-scroll-right" href="#"> <i class="fa fa-4x fa-arrow-circle-right"></i>
      </a>
      <div class="row">
        <div class="col-60">
          <a class="back text-blue" onclick="window.history.back(); return false;" href="#"> <i class="fa fa-lg fa-arrow-left"></i> <b>Back</b>
          </a>
          <h1>Web portal and B2B e-commerce for Partspoint Czech, Czech AUTOPRIMA, AUTOPRIMA Slovakia and Slovakia AMŠ</h1>
          <h3>Extensive B2B web information system for distributors of spare parts for automobiles in the Czech and Slovak Republics.</h3>
          <p>We have created an effective B2B trading system where the purchase was made using 3 clicks.</p>
          <p>We performed a complete integration of internal information systems distributors on an extensive database of German TecDoc.</p>
          <p>Our online trading system simplify and speed up the purchase and supply of spare parts for thousands of garages and car accessories stores.</p>
          <p>We realized the full integration of our web B2B systems with accounting and warehouse systems in large parts distributors. Consequently, we enable fully automatic emergency orders and deliveries from distribution warehouses directly to customers.</p>
          <p>We conducted further integration with the European suppliers for the online update offers in the e-shop.</p>
          <p>We have also implemented the integration of German TecDoc database that collects detailed information on spare parts automobile brands worldwide.</p>
        </div>
        <div class="col-40">
          <div class="icons">
            <img alt="Notebook_and_mouse_cursor_128" src="/images/nnotebook_and_mouse_cursor_128.png" />
            <img alt="Go_to_web_128" src="/images/ggo_to_Web_128.png" />
            <img alt="Phone_with_hand_128" src="/images/pphone_with_Hand_128.png" />
          </div>
          <div class="skills panel">
            <p><b>Required Skills:</b>
              <ul>
                <li><a href="#detailni_funkcni_procesni_a_datova_analyza">Detailed functional, process and data analysis.</a></li>
                <li><a href="#navrh_informacniho_systemu">Design of an information system.</a></li>
                <li><a href="#tvorba_analytickych_modelu">Creation of analytical models.</a></li>
                <li><a href="#programovani">Programming.</a></li>
                <li><a href="#systemova_integrace">Extensive system integration.</a></li>
                <li>Working with large amounts of data.</li>
                <li><a href="#projektove_rizeni">Project management.</a></li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial 'skill_list' %>

<script type="text/javascript">
  page_scroll(["greenswan", "partspoint", "cemio", "modry-andel", "procare", "eurosignal", "cia-news", "autoprima", "ignum", "bahal", "amca", "hasek", "extenso", "paartyy"]);
</script>
