---
title: iQuest - Web portal and B2B e-commerce for Partspoint Czech, Czech AUTOPRIMA, AUTOPRIMA Slovakia and Slovakia AMŠ
---
<div class="page-load">
  <div class="page-scroll-show page-offset partspoint">
    <div class="header wrapper-center">
      <div class="inner-center">
        <img class="logo" alt="Partspoint_inverse" src="/images/Refs/partspoint_inverse.png" data-aos="fade-up" />
      </div>
    </div>
    <div class="content">
      <a class="page-scroll-left" href="#" data-aos="fade-left"> <i class="fa fa-4x fa-arrow-circle-left"></i>
      </a>
      <a class="page-scroll-right" href="#" data-aos="fade-right"> <i class="fa fa-4x fa-arrow-circle-right"></i>
      </a>
      <div class="row">
        <div class="col-60">
          <a class="back text-blue" onclick="window.history.back(); return false;" href="#" data-aos="fade-left"> <i class="fa fa-lg fa-arrow-left"></i> <b>Zpět</b>
          </a>
          <h1 data-aos="fade-up">Webový B2B portál a e-shop pro PARTSPOINT Czech, AUTOPRIMA Czech, AUTOPRIMA Slovakia a AMŠ SlovakiA</h1>
          <h3 data-aos="fade-up">Rozsáhlý B2B webový informační systém pro distributory náhradních dílů pro automobily v Čechách a na Slovensku.</h3>
          <p data-aos="fade-up">Vytvořili jsme efektivní B2B obchodní systém, kdy nákup byl uskutečněn pomocí 3 kliknutí.</p>
          <p data-aos="fade-up">Provedli jsme kompletní integraci na interní informační systémy distributorů i na rozsáhlou německou databázi TecDoc.</p>
          <p data-aos="fade-up">Náš online obchodní systém zjednodušil a urychlil nákup a dodávky náhradních dílů pro tisíce autoservisů i prodejen autodoplňků.</p>
          <p data-aos="fade-up">Realizovali jsme plnou integraci našich webových B2B systémů s účetními a skladovými systémy velkých distributorů náhradních dílů. Díky tomu jsme umožnili zcela automatické vykrývání objednávek a dodávek z distribučních skladů přímo k zákazníkům.</p>
          <p data-aos="fade-up">Provedli jsme dále integraci s evropskými dodavateli pro online aktualizaci nabídek v e-shopu.</p>
          <p data-aos="fade-up">Realizovali jsme též integraci německé databáze TecDoc, která shromažďuje detailní informace o náhradních dílech značek automobilů po celém světě.</p>
        </div>
        <div class="col-40">
          <div class="icons" data-aos="fade-left">
            <img alt="Notebook_and_mouse_cursor_128" src="/images/nnotebook_and_mouse_cursor_128.png" />
            <img alt="Go_to_web_128" src="/images/ggo_to_Web_128.png" />
            <img alt="Phone_with_hand_128" src="/images/pphone_with_Hand_128.png" />
          </div>
          <div class="skills panel" data-aos="fade-up">
            <p><b>Potřebné dovednosti:</b>
              <ul>
                <li><a href="#detailni_funkcni_procesni_a_datova_analyza">Detailní funkční, procesní a datová analýza.</a></li>
                <li><a href="#navrh_informacniho_systemu">Návrh informačního systému.</a></li>
                <li><a href="#tvorba_analytickych_modelu">Tvorba analytických modelů.</a></li>
                <li><a href="#programovani">Programování.</a></li>
                <li><a href="#systemova_integrace">Rozsáhlá systémová integrace.</a></li>
                <li>Práce s velkým množstvím dat.</li>
                <li><a href="#projektove_rizeni">Projektové řízení.</a></li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial 'skill_list' %>

<script type="text/javascript">
  page_scroll(["greenswan", "partspoint", "cemio", "modry-andel", "procare", "eurosignal", "cia-news", "autoprima", "ignum", "bahal", "amca", "hasek", "extenso", "paartyy"]);
</script>
