@media screen and (min-width: 1920px) {
  #opening>.title .konzultace-zdarma{
    bottom: -80px;
  }
  #opening>.title .title1 {
    font-size: 96px
  }
  #opening>.title .title2 {
    font-size: 60.5px
  }
  #opening>.title .info .container {
    width: 952px;
    margin: 0 auto
  }
  .page-scroll-show {
    padding-top: 17.8vw
  }
  .page-scroll-show .header {
    height: 18.3vw
  }
  .what-we-do header {
    background-size: 100%;
    height: 18vw
  }
  .what-we-do .info, .what-we-do .what-is {
    margin: 100px auto 0;
    width: 1143px;
  }
}

@media screen and (min-width: 1450px) {
  .webove-aplikace-na-miru .navigation, .firemni-informacni-systemy-na-miru .navigation, .podnikove-mobilni-aplikace .navigation {
    height: 130px
  }
  .webove-aplikace-na-miru .page-nav, .firemni-informacni-systemy-na-miru .page-nav, .podnikove-mobilni-aplikace .page-nav {
    top: 130px
  }
  .webove-aplikace-na-miru .page-offset, .firemni-informacni-systemy-na-miru .page-offset, .podnikove-mobilni-aplikace .page-offset {
    padding-top: 205px
  }
}

@media screen and (max-width: 1600px) {
  h1 {
    font-size: 1.9vw
  }
  h2 {
    font-size: 1.5vw
  }
  h3 {
    font-size: 1.4vw
  }
  p, ul {
    font-size: 1.3vw
  }
  .page .initial.curve {
    font-size: 1.6vw
  }
  .page .logo-content .logo-circles .circle .text {
    font-size: 14px
  }
  .page .logo-content .iqw-nav .initial .text {
    font-size: 1.1vw
  }
  #opening>.title .info {
    margin-left: 22%;
    margin-right: 22%
  }
  #opening>.title .info .container .box {
    font-size: 18px
  }
  [class*='why-iquest'] .content .pillar p,
  [class*='proc-iquest'] .content .pillar p,
  [class*='why-iquest'] .content .pillar ul,
  [class*='proc-iquest'] .content .pillar ul {
    width: 60%
  }
  [class*='reference'] .desktop .info {
    font-size: 1.5vw
  }
  .page-offset p {
    font-size: 1.2vw
  }
  .page-offset ul {
    font-size: 1.15vw
  }
}

@media screen and (max-width: 1400px) {
  h1 {
    font-size: 2.1vw
  }
  h2 {
    font-size: 1.7vw
  }
  h3 {
    font-size: 1.6vw
  }
  p, ul {
    font-size: 1.5vw
  }
  .page .initial.curve {
    font-size: 1.8vw
  }
  .page .logo-content .iqw-nav .initial .text {
    font-size: 1.3vw
  }
  #opening>.title .info {
    margin-left: 20%;
    margin-right: 20%
  }
  #opening>.title .info .container .box {
    font-size: 17px
  }
  [class*='why-iquest'] .content .pillar p,
  [class*='proc-iquest'] .content .pillar p,
  [class*='why-iquest'] .content .pillar ul,
  [class*='proc-iquest'] .content .pillar ul {
    width: 65%
  }
  [class*='reference'] .desktop .info {
    font-size: 1.7vw
  }
  .page-offset p {
    font-size: 1.4vw
  }
  .page-offset ul {
    font-size: 1.35vw
  }
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 2.3vw
  }
  h2 {
    font-size: 1.9vw
  }
  h3 {
    font-size: 1.8vw
  }
  p, ul {
    font-size: 1.7vw
  }
  #opening .title .title1 {
    font-size: 5.3vw
  }
  #opening .title .title2 {
    font-size: 3.35vw
  }
  #more_than_10_years .title .title1 {
    font-size: 4.5vw
  }
  .page .initial.curve {
    font-size: 2vw
  }
  .page .logo-content .logo-circles {
    width: 80vw;
    height: 26.7vw
  }
  .page .logo-content .logo-circles .circle .text {
    font-size: 13px
  }
  .page .logo-content .iqw-nav .initial .text {
    font-size: 1.5vw
  }
  #opening>.title .info {
    margin-left: 17%;
    margin-right: 17%
  }
  #opening>.title .info .container .box {
    font-size: 16px
  }
  [class*='why-iquest'] .content .pillar p,
  [class*='proc-iquest'] .content .pillar p,
  [class*='why-iquest'] .content .pillar ul,
  [class*='proc-iquest'] .content .pillar ul {
    width: 70%
  }
  [class*='reference'] .desktop .info {
    font-size: 1.9vw
  }
  .page-offset p {
    font-size: 1.6vw
  }
  .page-offset ul {
    font-size: 1.55vw
  }
  .cards {
    padding-left: 20px
  }
  .cards .info {
    position: static;
    width: auto;
    padding: 0 5px 20px
  }
  .cards .card {
    width: 204px;
    height: 168px
  }
  .what-we-do .info .box img {
    position: static
  }
  .what-we-do .info .box.left .offset {
    padding-left: 0;
    margin-top: 30px
  }
  .what-we-do .info .box.right .offset {
    padding-right: 0
  }
  .we-are-the-champions {
    width: auto;
    margin-left: 15px;
    margin-right: 15px
  }
  .we-are-the-champions .slick-prev, .we-are-the-champions .slick-next {
    display: none !important
  }
}
@media screen and (max-width: 1140px){
  .kinds-of-contacts{
    .cont{
      width: 100% !important;
    }
  }
}

@media screen and (max-width: 992px) {
  #opening>.title .title2 {
    line-height: 40px;
  }
  h1 {
    font-size: 2.5vw
  }
  h2 {
    font-size: 2.1vw
  }
  h3 {
    font-size: 2vw
  }
  p, ul {
    font-size: 1.9vw
  }
  #opening .title .title1 {
    font-size: 5.7vw
  }
  #opening .title .title2 {
    font-size: 3.6vw
  }
  #more_than_10_years .title .title1 {
    font-size: 5vw
  }
  .page .offset {
    margin-right: 40px
  }
  .page .initial.curve {
    font-size: 2.3vw
  }
  .page .logo-content .logo-circles {
    width: 85vw;
    height: 28.3vw
  }
  .page .logo-content .iqw-nav .initial .text {
    font-size: 1.7vw
  }
  #opening>.title .info {
    margin-left: 12%;
    margin-right: 12%
  }
  #opening>.title .info .container .box {
    font-size: 15px
  }
  [class*='why-iquest'] .content .pillar p,
  [class*='proc-iquest'] .content .pillar p,
  [class*='why-iquest'] .content .pillar ul,
  [class*='proc-iquest'] .content .pillar ul {
    width: 80%
  }
  [class*='reference'] .desktop .info {
    font-size: 2.1vw
  }
  .page-offset p {
    font-size: 1.8vw
  }
  .page-offset ul {
    font-size: 1.75vw
  }
}

@media screen and (max-width: 860px){
  .konzultaci-zdarma{
    .title-container{
      .title, .step-box{
        width: 100% !important;
        clear: both;
      }
      .step-box{
        margin-top: 20px !important;
      }
    }
  }
  .kinds-of-contacts{
    height: 100%;
    background: #415D71;
    // overflow: auto;
    margin-top: 60px;

    .container{
      padding: 40px 0;

      .row{
        display: block !important;

        .col{
          display: block !important;
          margin: 0 auto;
          width: 80%;
          margin-top: 24px;

          &.col2{
            .sub-title{margin-bottom: 14px !important;}
            .submit{display: none;}
          }

          &:first-child{
            margin-top: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .social-icons {
    padding-bottom: 25px !important;
    display: flex;
    /* text-align: center !important; */
  }
  .col-offset-40 {
    margin-left: 0%;
  }
  .restyling{
    margin-top: 0px;
    padding-bottom: 40px;
  }
  .restyling .text{
    text-align: center;
  }
  .content.ref-list{
    padding-top: 120px;
    margin-top: 0;
  }
  .content.ref-list .row{
    margin-bottom: 0;
  }
  [class*='reference'] .desktop {
    display: none;
  }
  h1 {
    font-size: 21px
  }
  h2 {
    font-size: 18px
  }
  h3 {
    font-size: 18px
  }
  p, ul {
    font-size: 18px
  }
  .row {
    width: 100% !important
  }
  .row .col-25, .row .col-30, .row .col-33, .row .col-40, .row .col-50, .row .col-60, .row .col-70 {
    width: 100% !important;
    overflow: hidden;
  }
  .navigation {
    height: 80px;
    z-index: 3
  }
  .navigation #logo {
    height: 90px;
    margin-left: -20px;
    padding-top: 30px;
  }
  .navigation #logo_box {
    width: 200px;
    height: 75px;
    top: 5px;
    left: 35px
  }
  .navigation .navbar li a {
    display: none
  }
  .navigation .navbar li #menu_open, .navigation .navbar li.close a {
    display: block;
    // bottom: 20px !important;
    left: 25px
  }
  .navigation .navbar li.close {
    margin-right: -10px
  }
  #opening {
    padding-bottom: 75px
  }
  #opening address {
    font-size: 19px;
    line-height: 140%;
    // padding-top: 100px
  }
  #opening>.title {
    // padding-top: 210px;
    padding-top: 110px;
    padding-bottom: 30px
  }
  #opening>.title .title1, #opening>.title .title2 {
    padding: 0 15px
  }
  #opening>.title .title1 {
    font-size: 37px;
    margin-bottom: 15px
  }
  #opening>.title .title2 {
    font-size: 22px;
    line-height: 130%;
    opacity: 0.7
  }
  #opening>.title .info {
    margin-top: 20px
  }
  #opening>.title .info .container .box {
    text-align: center;
    height: 50px
  }
  #opening>.title .info .container .box img {
    position: static
  }
  #opening>.title .info .container .box .text {
    // display: none
  }
  #opening .circles {
    // margin-top: 200px
    margin-top: 80px
  }
  #opening .circles .circle {
    min-width: 17px;
    min-height: 17px
  }
  #opening .tags, #opening .our-technology, #opening .reference, #opening .we-are-the-champions {
    margin-top: 75px
  }
  #opening .reference .circles-box .circle {
    margin: 0
  }
  #opening .reference .circles-box .circle:nth-child(even) {
    top: 0
  }
  #opening .reference .more-references {
    margin-top: 30px
  }
  #opening .our-technology .more-technology {
    margin-top: 40px
  }
  #more_than_10_years {
    background-size: auto 100%;
    background-position: right
  }
  #more_than_10_years .title .title1 {
    font-size: 30px;
    line-height: 130%;
    padding: 0 15px
  }
  .page .offset {
    margin-top: 110px
  }
  .page .offset h2 {
    margin-bottom: 10px
  }
  .page .offset h3 {
    margin: 10px 0
  }
  .page .logo-content .info {
    margin-bottom: 25px
  }
  .page .logo-content .info h1 {
    margin-top: 0;
    margin-bottom: 8px
  }
  .page .logo-content .info h2 {
    font-family: Raleway-light;
    font-weight: normal;
    opacity: 0.7;
    padding: 0 15px;
    margin-top: 8px
  }
  .page .logo-content .logo-circles {
    display: none
  }
  .page .logo-content .iqw-nav {
    padding: 0 25px;
    overflow-x: hidden
  }
  .page .logo-content .iqw-nav .initial {
    width: 100%
  }
  .page .logo-content .iqw-nav .initial img {
    width: auto;
    height: auto;
    max-width: 40px;
    max-height: 40px
  }
  .page .logo-content .iqw-nav .initial .text {
    font-size: 19px;
    line-height: 130%;
    text-align: left
  }
  .page .scroll-content {
    position: initial
  }
  .page .scroll-content .page.horizontal .scroll-down {
    display: block !important
  }
  .page .scroll-down .box {
    font-size: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
  }
  .page.inverse .offset {
    padding-left: 10px;
    padding-right: 30px
  }
  .page.inverse .offset .initial img {
    display: none
  }
  .page#we_connect_techno .offset {
    margin-bottom: 45px
  }
  [class*='why-iquest'] .content .pillar,
  [class*='proc-iquest'] .content .pillar {
    padding: 20px
  }
  [class*='why-iquest'] .content .pillar img,
  [class*='proc-iquest'] .content .pillar img {
    width: 55px;
    height: 55px
  }
  [class*='why-iquest'] .content .pillar h1,
  [class*='proc-iquest'] .content .pillar h1,
  [class*='why-iquest'] .content .pillar h2,
  [class*='proc-iquest'] .content .pillar h2,
  [class*='why-iquest'] .content .pillar p,
  [class*='proc-iquest'] .content .pillar p,
  [class*='why-iquest'] .content .pillar ul,
  [class*='proc-iquest'] .content .pillar ul {
    margin-left: 0
  }
  [class*='why-iquest'] .content .pillar h1,
  [class*='proc-iquest'] .content .pillar h1 {
    margin-bottom: 10px
  }
  [class*='why-iquest'] .content .pillar h2,
  [class*='proc-iquest'] .content .pillar h2 {
    margin: 0;
    font-family: Raleway-light
  }
  [class*='why-iquest'] .content .pillar p,
  [class*='proc-iquest'] .content .pillar p,
  [class*='why-iquest'] .content .pillar ul,
  [class*='proc-iquest'] .content .pillar ul {
    width: 90%
  }
  [class*='why-iquest'] .content .pillar.active,
  [class*='proc-iquest'] .content .pillar.active {
    padding: 30px
  }
  [class*='why-iquest'] .content .pillar.active h2,
  [class*='proc-iquest'] .content .pillar.active h2 {
    font-family: Raleway-medium
  }
  .scroll-left, .scroll-right, .mobile-hide {
    display: none
  }
  #large_applications {
    top: 0;
    left: 0
  }
  #we_connect_people {
    top: 100%;
    left: 0
  }
  #we_connect_tasks {
    top: 200%;
    left: 0
  }
  #we_connect_techno {
    top: 300%;
    left: 0
  }
  [class*='kontakt'] #map-canvas {
    display: none
  }
  [class*='kontakt'] .box {
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 20px;
    width: auto;
    position: inherit;
  }
  [class*='kontakt'] .box .logo {
    margin-left: -50px;
    margin-top: -20px;
    height: 100px
  }
  [class*='reference'] .navigation {
    background-color: white;
    box-shadow: 0 10px 10px white
  }
  [class*='reference'] .desktop {
    position: initial;
    top: 100px;
    padding: 100px 20px 60px
  }
  [class*='reference'] .desktop .info {
    background-color: rgba(69, 144, 175, 0.95);
    color: white;
    font-size: 17px;
    height: 45px;
    overflow-y: auto;
    position: fixed;
    bottom: 0;
    padding: 5px 15px
  }
  [class*='reference'] .desktop .info b {
    color: white
  }
  [class*='reference'] .desktop a .inner {
    border-top: 1px dashed #bbb;
    text-align: center
  }
  [class*='reference'] .desktop a .inner img {
    max-width: 210px;
    max-height: 120px;
    margin: 15px 0
  }
  .technologie .page-offset:not(.page-scroll-show) {
    padding: 105px 25px 0
  }
  .page-scroll-show {
    padding: 105px 0 0
  }
  .page-scroll-show .header {
    background-image: none !important
  }
  .page-scroll-show .header .logo {
    display: none
  }
  .page-scroll-show .content {
    box-shadow: none;
    padding: 25px
  }
  .page-scroll-show .content .back {
    margin-bottom: 7px
  }
  .page-scroll-show .content .logo {
    max-width: 210px;
    padding-right: 25px
  }
  .page-scroll-show .content .icons, .page-scroll-show .content .skills {
    margin-left: 0
  }
  .page-scroll-show .content .icons {
    text-align: center;
    margin-top: 10px
  }
  .page-scroll-show .content .icons img {
    max-width: 60px;
    padding: 0 15px
  }
  .page-scroll-show .content .page-scroll-left, .page-scroll-show .content .page-scroll-right {
    display: none
  }
  .page-offset p {
    font-size: 18px
  }
  .page-offset ul {
    font-size: 17px
  }
  .what-we-do header {
    background-position: none;
    height: auto;
    display: none
  }
  .what-we-do .title h1 {
    font-family: Raleway-thin;
    font-size: 37px;
    font-weight: bold;
    line-height: 115%;
    margin: 40px 0 25px;
    padding-left: 15px;
    padding-right: 15px
  }
  .what-we-do .title h2 {
    font-family: Raleway-thin;
    font-size: 22px;
    font-weight: bold;
    line-height: 130%;
    opacity: 0.7;
    padding-left: 15px;
    padding-right: 15px
  }

  .what-we-do .title {
    overflow: hidden;
  }

  .what-we-do .what-is, .what-we-do .info {
    margin: 75px 25px 0
  }

  .what-we-do .icons {
    margin-left: 0px !important;
  }

  .what-we-do .v-center {
    display: block !important;
  }

  .what-we-do .what-is .box.left img, .what-we-do .what-is .box.right img, .what-we-do .info .box.left img, .what-we-do .info .box.right img {
    width: 100%
  }
  .back-fixed {
    display: none
  }
  footer.footer .container .offset {
    padding-left: 0;
    padding-right: 0
  }
  .not-only-money>.page-offset {
    padding: 105px 25px 20px
  }
  .not-only-money>.page-offset>.title {
    height: auto
  }
  .not-only-money>.page-offset>.title .heart {
    background-position: center top;
    background-size: 100%
  }
  .not-only-money>.page-offset>.title h1 {
    margin-top: 30px;
    font-size: 33px
  }
  .not-only-money>.page-offset>.title h2 {
    font-size: 21px
  }
  .not-only-money>.page-offset .box {
    margin-bottom: 30px
  }
  .not-only-money>.page-offset .box .image {
    display: none
  }
  .not-only-money>.page-offset .box .text {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1
  }
  .not-only-money>.page-offset .box .text h3 {
    font-size: 25px
  }
  .not-only-money>.page-offset .box .text p {
    text-align: center
  }
  .not-only-money .thumbs {
    margin: 50px 0
  }
  .not-only-money .thumbs .circle {
    width: 75%
  }
  .not-only-money .thumbs .text {
    margin: 0 0 50px
  }
  .konzultace-zdarma{
    margin-top: 42px;
    bottom: 12px;
  }

  .konzultaci-zdarma{
    .steps{
      height: auto;
      background: none;
      margin-top: 0;
      overflow: hidden;

      .container{
        .row{
          display: block;

          .col{
            display: block;
            margin: 0 auto;
            width: 100%;

            &:first-child{
              padding-top: 0;
            }

            &.col2, &.col4{
              span{
                padding-left: 0;
                padding-right: 118px;
                text-align: right;

                p{
                  padding-left: 0;
                }

                strong{
                  left: initial;
                  right: -2px;
                }

                &:before{
                  left: initial;
                  right: 0;
                }
              }
            }

            span{
              display: table;
              height: 110px;
              margin-top: 0;
              padding-left: 80px;
              margin: 0 auto;
              text-align: left;
              width: 50%;

              &:before{
                top: 6px;
                left: 0;
                margin-left: 0;
              }

              p{
                display: table-cell;
                vertical-align: middle;
                position: initial;

                strong{
                  border: 2px solid white;
                  left: -2px;
                }
              }
            }
          }
        }
      }
    }
    a.call-us{
      display: none;
      &.mobile{
        display: block !important;
      }
    }
  }
  .x404{
    .container{
      padding-left: 40px;
      padding-right: 40px;
      background-position: center bottom;
      background-size: 50vh;
    }
  }
}

@media screen and (max-width: 580px){
  .kontakt-telefon{display: none;}

  a.contact-bubble.fixed{
    width: 60px;
    height: 60px;
    left: 50%;
    bottom: 24px;
    margin-left: -30px;

    & > div, & .text{display: none !important;}

    & .icon{
      padding-top: 4px;
      display: table-cell;
      font-size: 24px;
    }
  }

  .iquest-way{
    a.contact-bubble{
      &.page-5{
        background-color: #EFAC52;
      }
    }
  }
  .success .success-icon{
    font-size: 60px;
  }
  .success>.page-offset{
    padding: 128px 50px 20px;
  }
  .success>.page-offset>.title h1{
    margin-top: 36px;
    font-size: 40px;
  }

  .kinds-of-contacts{
    .container{
      .col{
        width: 100% !important;
      }
    }
  }
  .x404{
    .container{
      padding: 140px 40px 0 40px;
      background-position: center bottom;
      background-size: 100vw;
      margin-bottom: 40px;
    }
    h1{
      font-size: 5em !important;
    }
    h1, h2{
      width: 100%;
      text-align: center;
    }
  }
}


@media screen and (max-height: 700px) and (min-width: 768px){
  .restyling{
    a.box:nth-child(2) .text{
      margin-top: 6px;
    }

    .img-wrap{
      float: left;

      img{
        max-width: 64px !important;
        max-height: 64px !important;
      }
    }

    .text{
      text-align: left;
      margin-left: 14px;
      float: left;
      margin-top: 16px;
      box-sizing: border-box;

      .br{
        display: inherit;
      }
    }
  }
}

@media screen and (max-height: 700px){
  .why-iquest,
  .proc-iquest{
    .pillar-3{
      background-size: auto 61px;
      background-position: bottom -10px right -50vw !important;
    }
    .pillar-4{
      background-size: auto 61px;
      background-position: bottom -10px right !important;
    }
    .to-home{
      width: 140px;
      height: 44px;
      position: fixed;
      display: block;
      right: 30px;
      bottom: 6px;
    }
  }
}

@media screen and (max-height: 700px) {
  #presentation .logo-content .info {
    display: none;
  }
}

@media screen and (max-height: 500px) {
  #opening address {
    font-size: 17px;
    padding-top: 95px
  }
  #opening .title .title1 {
    font-size: 25px;
    margin-bottom: 10px
  }
  #opening .title .title2 {
    font-size: 18px
  }
  #more_than_10_years .title .title1 {
    font-size: 22px
  }
  [class*='why-iquest'] .content .pillar:not(.active) h2,
  [class*='proc-iquest'] .content .pillar:not(.active) h2 {
    display: none
  }
  [class*='kontakt'] .box table {
    font-size: 15px
  }
  [class*='kontakt'] .box table tr td:first-child {
    font-size: 14px
  }
  [class*='kontakt'] .box p {
    font-size: 13px
  }
}
