---
title: iQuest - New Relic
subtitle: Služba určená k monitorování mobilních a webových aplikací v reálném čase. New Relic udržuje partnerství s firmami po celém světě.
---
<div class="page-load">
  <div class="page-scroll-show page-offset newrelic">
    <div class="header wrapper-center">
      <div class="inner-center">
        <img class="logo" alt="Newrelic" src="/images/Techs/newrelic.png" data-aos="fade-up" />
      </div>
    </div>
    <div class="content">
      <a class="page-scroll-left" href="#" data-aos="fade-left"> <i class="fa fa-4x fa-arrow-circle-left"></i>
      </a>
      <a class="page-scroll-right" href="#" data-aos="fade-right"> <i class="fa fa-4x fa-arrow-circle-right"></i>
      </a>
      <div class="row">
        <div class="col-60">
          <a class="back text-blue" onclick="window.history.back(); return false;" href="#" data-aos="fade-left"> <i class="fa fa-lg fa-arrow-left"></i> <b>Zpět</b>
          </a>
          <h1 data-aos="fade-up">New Relic</h1>
          <p data-aos="fade-up">Služba určená k monitorování mobilních a webových aplikací v reálném čase. <b>New Relic</b> udržuje partnerství s firmami po celém světě, kupříkladu <a href="http://www.ibm.com/cloud-computing/bluemix/" target="_blank"><b>IBM Bluemix</b></a>,
            <a href="https://aws.amazon.com/" target="_blank"><b>Amazon Web Services</b></a>, <a href="https://www.heroku.com/" target="_blank"><b>Heroku</b></a>, <a href="http://azure.microsoft.com/" target="_blank"><b>Microsoft Azure</b></a>, atd.</p>
        </div>
        <div class="col-40">
          <div class="panel" data-aos="fade-up">
            <div style="height: 12px;"></div>
            <i class="fa fa-external-link-square"></i>&nbsp;&nbsp;<a href="http://newrelic.com/" target="_blank">newrelic.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  page_scroll(["ruby-on-rails", "emberjs", "bootstrap", "sass", "cordova", "html5", "heroku", "git", "newrelic", "rabbitmq", "postgresql", "elastic", "firebase"]);
</script>
