<a href="/kontakt" id="<%= current_page.page_id.split('.')[0].gsub('/', '_') %>_contact_modal" class="contact-bubble">
  <div class="bubble-1 delay-1 animated bounceIn">
    <i class="fa fa-phone"></i>
  </div>
  <div class="bubble-2 delay-3 animated bounceIn">
    <i class="fa fa-phone"></i>
  </div>
  <div class="bubble-3 delay-2 animated bounceIn">
    <i class="fa fa-phone"></i>
  </div>
  <span>Contact<br />us</span>
</a>
