<div class="content page-offset">
	<div class="row">
		<div class="col-40 thumbs" data-aos="fade-up">
			<img class="circle" alt="Blog_cicle1" src="/images/blog_circle1.jpg" />
			<div class="text">
				<h3>Lorem ipsum dolor sit amet</h3>
				08/05/2017
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non nibh eu est venenatis hendrerit. Ut finibus at orci tempor scelerisque. Suspendisse non sem semper, accumsan lacus ut, auctor lectus. Pellentesque mollis nisl in nulla condimentum, vitae venenatis augue pharetra. Phasellus at iaculis ipsum, a consectetur sem</p>
				<a href="article1.html" class="a-blog">Přečist celý článek</a>
			</div>
		</div>
		<div class="col-40 thumbs" data-aos="fade-up">
			<img class="circle" alt="Blog_cicle2" src="/images/blog_circle2.jpg" />
			<div class="text">
				<h3>Lorem ipsum dolor sit amet</h3>
				25/04/2017
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non nibh eu est venenatis hendrerit. Ut finibus at orci tempor scelerisque. Suspendisse non sem semper, accumsan lacus ut, auctor lectus. Pellentesque mollis nisl in nulla condimentum, vitae venenatis augue pharetra. Phasellus at iaculis ipsum, a consectetur sem</p>
				<a href="article2.html" class="a-blog">Přečist celý článek</a>
			</div>
		</div>
		<div class="col-40 thumbs" data-aos="fade-up">
			<img class="circle" alt="Blog_cicle3" src="/images/blog_circle3.jpg" />
			<div class="text">
				<h3>Lorem ipsum dolor sit amet</h3>
				05/04/2017
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non nibh eu est venenatis hendrerit. Ut finibus at orci tempor scelerisque. Suspendisse non sem semper, accumsan lacus ut, auctor lectus. Pellentesque mollis nisl in nulla condimentum, vitae venenatis augue pharetra. Phasellus at iaculis ipsum, a consectetur sem</p>
				<a href="article3.html" class="a-blog">Přečist celý článek</a>
			</div>
		</div>
		<div class="col-40 thumbs" data-aos="fade-up">
			<img class="circle" alt="Blog_cicle4" src="/images/blog_circle4.jpg" />
			<div class="text">
				<h3>Lorem ipsum dolor sit amet</h3>
				20/03/2017
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non nibh eu est venenatis hendrerit. Ut finibus at orci tempor scelerisque. Suspendisse non sem semper, accumsan lacus ut, auctor lectus. Pellentesque mollis nisl in nulla condimentum, vitae venenatis augue pharetra. Phasellus at iaculis ipsum, a consectetur sem</p>
				<a href="article4.html" class="a-blog">Přečist celý článek</a>
			</div>
		</div>
	</div>
</div>
<%= partial 'footer' %>