---
title: iQuest - iQuest way
subtitle: iQuest Way je propracovaná metodika návrhu a vývoje informačních systémů pro rychlou a bezchybnou realizaci i velmi složitých zadání.
---
<div id="presentation" class="page vertical wrapper-center">
  <div class="logo-content inner-center" data-aos="zoom-in">
    <div class="info text-center">
      <h1>iQuest Way</h1>
      <h2>Je propracovaná metodika vývoje složitých informačních systémů.</h2>
    </div>
    <div class="logo-circles">
      <img class="curve iq-logo" alt="Curve5" src="/images/curve5.svg" />
      <img class="curve" alt="Curve1" src="/images/curve1.svg" />
      <img class="curve" alt="Curve2" src="/images/curve2.svg" />
      <img class="curve" alt="Curve3" src="/images/curve3.svg" />
      <img class="curve" alt="Curve4" src="/images/curve4.svg" />
      <div class="logo-circles-1 section">
        <div class="circle circle-1 yellow"></div>
        <div class="circle circle-2 yellow"></div>
        <div class="circle circle-3 yellow"></div>
        <div class="circle circle-4 yellow"></div>
        <div class="circle circle-5 yellow"></div>
        <div class="circle circle-6 yellow"></div>
        <div class="circle circle-7 yellow"></div>
        <div class="circle circle-8 yellow"></div>
        <div class="circle circle-9 yellow"></div>
        <div class="circle circle-10 yellow"></div>
        <div class="circle circle-11 yellow"></div>
        <div class="circle circle-12 yellow"></div>
      </div>
      <div class="logo-circles-2 section">
        <div class="circle circle-1 orange"></div>
        <div class="circle circle-2 orange"></div>
        <div class="circle circle-3 orange"></div>
        <div class="circle circle-4 orange"></div>
        <div class="circle circle-5 orange"></div>
        <div class="circle circle-6 orange"></div>
        <div class="circle circle-7 orange"></div>
        <div class="circle circle-8 orange"></div>
        <div class="circle circle-9 orange"></div>
        <div class="circle circle-10 orange"></div>
      </div>
      <div class="logo-circles-3 section">
        <div class="circle circle-1 green"></div>
        <div class="circle circle-2 green"></div>
        <div class="circle circle-3 green"></div>
        <div class="circle circle-4 green"></div>
        <div class="circle circle-5 green"></div>
        <div class="circle circle-6 green"></div>
        <div class="circle circle-7 green"></div>
        <div class="circle circle-8 green"></div>
        <div class="circle circle-9 green"></div>
        <div class="circle circle-10 green"></div>
        <div class="circle circle-11 green"></div>
        <div class="circle circle-12 green"></div>
      </div>
      <div class="logo-circles-4 section">
        <div class="circle circle-1 blue"></div>
        <div class="circle circle-2 blue"></div>
        <div class="circle circle-3 blue"></div>
        <div class="circle circle-4 blue"></div>
        <div class="circle circle-5 blue"></div>
        <div class="circle circle-6 blue"></div>
        <div class="circle circle-7 blue"></div>
        <div class="circle circle-8 blue"></div>
        <div class="circle circle-9 blue"></div>
        <div class="circle circle-10 blue"></div>
      </div>
      <div class="logo-circles-5">
        <div class="circle circle-1 "></div>
        <div class="circle circle-2 "></div>
        <div class="circle circle-3 "></div>
        <div class="circle circle-4 "></div>
        <div class="circle circle-5 "></div>
        <div class="circle circle-6 "></div>
        <div class="circle circle-7 "></div>
        <div class="circle circle-8 "></div>
        <div class="circle circle-9 "></div>
        <div class="circle circle-10 "></div>
        <div class="circle circle-11 "></div>
        <div class="circle circle-12 "></div>
        <div class="circle circle-13 "></div>
        <div class="circle circle-14 "></div>
        <div class="circle circle-15 "></div>
        <div class="circle circle-16 "></div>
        <div class="circle circle-17 "></div>
        <div class="circle circle-18 "></div>
        <div class="circle circle-19 "></div>
        <div class="circle circle-20 "></div>
        <div class="circle circle-21 "></div>
        <div class="circle circle-22 "></div>
        <div class="circle circle-23 "></div>
        <div class="circle circle-24 "></div>
        <div class="circle circle-25 "></div>
        <div class="circle circle-26 "></div>
        <div class="circle circle-27 "></div>
        <div class="circle circle-28 "></div>
        <div class="circle circle-29 "></div>
        <div class="circle circle-30 "></div>
        <div class="circle circle-31 "></div>
        <div class="circle circle-32 "></div>
        <div class="circle circle-33 "></div>
        <div class="circle circle-34 "></div>
        <div class="circle circle-35 "></div>
        <div class="circle circle-36 "></div>
        <div class="circle circle-37 "></div>
        <div class="circle circle-38 "></div>
        <div class="circle circle-39 "></div>
        <div class="circle circle-40 "></div>
        <div class="circle circle-41 "></div>
        <div class="circle circle-42 "></div>
        <div class="circle circle-43 "></div>
        <div class="circle circle-44 "></div>
        <div class="circle circle-45 "></div>
        <div class="circle circle-46 "></div>
        <div class="circle circle-47 "></div>
        <div class="circle circle-48 "></div>
        <div class="circle circle-49 "></div>
        <div class="circle circle-50 "></div>
        <div class="circle circle-51 "></div>
        <div class="circle circle-52 "></div>
        <div class="circle circle-53 "></div>
      </div>
    </div>
    <div class="iqw-nav">
      <div class="initial text-yellow active">
        <div class="valign">
          <img height="66" width="67" alt="Initial1_color" src="/images/initial1_color.png" />
          <span class="text middle">Vytváříme rozsáhlé aplikace</span>
        </div>
      </div>
      <div class="initial text-orange active">
        <div class="valign">
          <img height="66" width="67" alt="Initial2_color" src="/images/initial2_color.png" />
          <span class="text middle">Propojujeme lidi</span>
        </div>
      </div>
      <div class="initial text-green active">
        <div class="valign">
          <img height="66" width="67" alt="Initial3_color" src="/images/initial3_color.png" />
          <span class="text middle">Propojujeme úkoly</span>
        </div>
      </div>
      <div class="initial text-blue active">
        <div class="valign">
          <img height="66" width="67" alt="Initial4_color" src="/images/initial4_color.png" />
          <span class="text middle">Propojujeme technologie</span>
        </div>
      </div>
    </div>
  </div>
  <div class="scroll-down mobile-hide">
    <div class="box color text-green">
      Poznej iQuest way
      <img class="arrow-down" height="33" width="56" alt="Next_page_arrow_down_anim" src="/images/next_page_arrow_down_anim.gif" />
    </div>
  </div>
</div>
<div id="more_than_10_years" class="page vertical inverse wrapper-center">
  <div class="scroll-up mobile-hide">
    <div class="box">
      <img class="arrow-up" height="33" width="56" alt="Next_page_arrow_up_white" src="/images/next_page_arrow_up_white.png" />
    </div>
  </div>
  <div class="title inner-center" data-aos="fade-up">
    <div class="title1 text-center text-shadow">
      Více než 13 let tvoříme
      <br />inteligentní online aplikace.
      <br />Propojujeme technologie, lidi,
      <br />úkoly a znalosti.
    </div>
  </div>
  <div class="scroll-down mobile-hide">
    <div class="box text-white text-shadow">
      Dále o iQuest way
      <img class="arrow-down" height="33" width="56" alt="Next_page_arrow_down_white" src="/images/next_page_arrow_down_white.png" />
    </div>
  </div>
</div>

<!-- <a href="/kontakt" id="contact_button" class="contact-bubble fixed bounceOut animated">
  <div class="bubble-1 delay-1 animated">
    <i class="fa fa-phone"></i>
  </div>
  <div class="bubble-2 delay-3 animated">
    <i class="fa fa-phone"></i>
  </div>
  <div class="bubble-3 delay-2 animated">
    <i class="fa fa-phone"></i>
  </div>
  <span class="text">Kontaktujte nás</span>
  <span class="icon"><i class="fa fa-phone"></i></span>
</a> -->

<div id="iquest-way" class="page vertical">
  <div class="scroll-content">
    <div id="large_applications_logo" class="page vertical active mobile-hide wrapper-center">
      <div class="scroll-up mobile-hide">
        <div class="box">
          <img class="arrow-up" height="33" width="56" alt="Next_page_arrow_up_anim" src="/images/next_page_arrow_up_anim.gif" />
        </div>
      </div>
      <h1 class="initial text-yellow curve" data-aos="fade-up"><img height="66" width="67" alt="Initial1_color" src="/images/initial1_color.png" />Vytváříme rozsáhlé aplikace</h1>
      <div class="logo-content inner-center" data-aos="fade-up">
        <div class="logo-circles">
          <img class="curve" alt="Curve1" src="/images/curve1.svg" />
          <div class="logo-circles-1">
            <div class="circle circle-1 yellow"><span class="text">Firemní informační systémy</span></div>
            <div class="circle circle-2 yellow"><span class="text"> Management obchodních reprezentantů</span></div>
            <div class="circle circle-3 yellow"><span class="text"> Obchodní portály</span></div>
            <div class="circle circle-4 yellow"><span class="text"> Složité B2B e&nbsp;-&nbsp;shopy</span></div>
            <div class="circle circle-5 yellow"><span class="text"> Podpora merchandisingu</span></div>
            <div class="circle circle-6 yellow"><span class="text"> Internetové dispečinky</span></div>
            <div class="circle circle-7 yellow"><span class="text"> Webové portály</span></div>
            <div class="circle circle-8 yellow"><span class="text"> Internetové konfigurátory</span></div>
            <div class="circle circle-9 yellow"><span class="text"> Podpora řízení projektů</span></div>
            <div class="circle circle-10 yellow"><span class="text"> Rezervační systémy</span></div>
            <div class="circle circle-11 yellow"><span class="text"> Facebook aplikace</span></div>
            <div class="circle circle-12 yellow"><span class="text"> Integrace Google, Amazon,...</span></div>
          </div>
        </div>
        <div class="iqw-nav">
          <div class="initial text-yellow active">
            <div class="valign">
              <img height="66" width="67" alt="Initial1_color" src="/images/initial1_color.png" />
              <span class="text middle">Vytváříme rozsáhlé aplikace</span>
            </div>
          </div>
          <div class="initial text-orange ">
            <div class="valign">
              <img height="66" width="67" alt="Initial2_color" src="/images/initial2_color.png" />
              <span class="text middle">Propojujeme lidi</span>
            </div>
          </div>
          <div class="initial text-green ">
            <div class="valign">
              <img height="66" width="67" alt="Initial3_color" src="/images/initial3_color.png" />
              <span class="text middle">Propojujeme úkoly</span>
            </div>
          </div>
          <div class="initial text-blue ">
            <div class="valign">
              <img height="66" width="67" alt="Initial4_color" src="/images/initial4_color.png" />
              <span class="text middle">Propojujeme technologie</span>
            </div>
          </div>
        </div>
      </div>
      <div class="scroll-down mobile-hide">
        <div class="box color text-green">
          Poznej iQuest way
          <img class="arrow-down" height="33" width="56" alt="Next_page_arrow_down_anim" src="/images/next_page_arrow_down_anim.gif" />
        </div>
      </div>
    </div>

    <div id="large_applications" class="page vertical yellow-dark text-white inverse">
      <div class="scroll-up mobile-hide">
        <div class="box">
          <img class="arrow-up" height="33" width="56" alt="Next_page_arrow_up_white" src="/images/next_page_arrow_up_white.png" />
        </div>
      </div>
      <div class="offset" data-aos="fade-up">
        <h1 class="initial"><img height="66" width="67" alt="Initial1" src="/images/initial1.png" />Vytváříme rozsáhlé aplikace</h1>
        <h2>Propojujeme znalosti z různých oborů...</h2>
        <p>Za více než 10 let se nám podařilo vyvinout systémy pro zákazníky z různých obchodních a společenských oborů (merchandising, farmaceutický průmysl, automotive, distribuční společnosti, zdravotnictví, telekomunikace, marketing, sociální sítě,
          informační servis, doprava, pojišťovnictví, stavebnictví, informační technologie (Certicon, Summit)).</p>
        <p>Prokázali jsme, že máme schopnost přijímat nové poznatky, pronikat do obchodních strategií a navrhovat jejich podporu pomocí na míru vyvinutých informačních systémů.</p>
        <p>Díky těmto zkušenostem kreativně navrhujeme a tvoříme řešení pro další klienty a přinášíme nápady stávajícím zákazníkům.</p>
      </div>
      <div class="scroll-down mobile-hide">
        <div class="box text-white text-shadow">
          Dále o iQuest way
          <img class="arrow-down" height="33" width="56" alt="Next_page_arrow_down_white" src="/images/next_page_arrow_down_white.png" />
        </div>
      </div>
    </div>

    <div id="we_connect_people_logo" class="page vertical mobile-hide wrapper-center">
      <div class="scroll-up mobile-hide">
        <div class="box">
          <img class="arrow-up" height="33" width="56" alt="Next_page_arrow_up_anim" src="/images/next_page_arrow_up_anim.gif" />
        </div>
      </div>
      <h1 class="initial text-orange curve" data-aos="fade-up"><img height="66" width="67" alt="Initial2_color" src="/images/initial2_color.png" />Propojujeme lidi</h1>
      <div class="logo-content inner-center" data-aos="fade-up">
        <div class="logo-circles">
          <img class="curve" alt="Curve2" src="/images/curve2.svg" />
          <div class="logo-circles-2">
            <div class="circle circle-1 orange"><span class="text">Programátor</span></div>
            <div class="circle circle-2 orange"><span class="text"> Databázový specialista</span></div>
            <div class="circle circle-3 orange"><span class="text"> Specialista pro&nbsp;uživatelské prostředí</span></div>
            <div class="circle circle-4 orange"><span class="text"> Frontend developer</span></div>
            <div class="circle circle-5 orange"><span class="text"> Vlastník projektu</span></div>
            <div class="circle circle-6 orange"><span class="text"> TeamLeader</span></div>
            <div class="circle circle-7 orange"><span class="text"> Tester</span></div>
            <div class="circle circle-8 orange"><span class="text"> System architect</span></div>
            <div class="circle circle-9 orange"><span class="text"> Uživatelé systému</span></div>
            <div class="circle circle-10 orange"><span class="text"> Management zákazníka</span></div>
          </div>
        </div>
        <div class="iqw-nav">
          <div class="initial text-yellow ">
            <div class="valign">
              <img height="66" width="67" alt="Initial1_color" src="/images/initial1_color.png" />
              <span class="text middle">Vytváříme rozsáhlé aplikace</span>
            </div>
          </div>
          <div class="initial text-orange active">
            <div class="valign">
              <img height="66" width="67" alt="Initial2_color" src="/images/initial2_color.png" />
              <span class="text middle">Propojujeme lidi</span>
            </div>
          </div>
          <div class="initial text-green ">
            <div class="valign">
              <img height="66" width="67" alt="Initial3_color" src="/images/initial3_color.png" />
              <span class="text middle">Propojujeme úkoly</span>
            </div>
          </div>
          <div class="initial text-blue ">
            <div class="valign">
              <img height="66" width="67" alt="Initial4_color" src="/images/initial4_color.png" />
              <span class="text middle">Propojujeme technologie</span>
            </div>
          </div>
        </div>
      </div>
      <div class="scroll-down mobile-hide">
        <div class="box color text-green">
          Poznej iQuest way
          <img class="arrow-down" height="33" width="56" alt="Next_page_arrow_down_anim" src="/images/next_page_arrow_down_anim.gif" />
        </div>
      </div>
    </div>

    <div id="we_connect_people" class="page vertical orange-dark text-white inverse">
      <div class="scroll-up mobile-hide">
        <div class="box">
          <img class="arrow-up" height="33" width="56" alt="Next_page_arrow_up_white" src="/images/next_page_arrow_up_white.png" />
        </div>
      </div>
      <div class="offset" data-aos="fade-up">
        <h1 class="initial"><img height="66" width="67" alt="Initial2" src="/images/initial2.png" />Propojujeme lidi</h1>
        <p>Díky našim systémům jsou již nyní ve spojení tisíce uživatelů, kteří navzájem sdílí informace, znalosti, obchodní data a mohou tak vykonávat svoji činnost efektivně a rychle.</p>
        <p><b>Propojujeme lidi</b> i při vývoji našich systémů. Propojujeme různé profese uvnitř naší společnosti, abychom tak vytvářeli systémy v každém ohledu promyšlené, správně navržené, graficky propracované a precizně implementované.</p>
        <p><b>Propojujeme lidi</b> na straně zákazníků, abychom tak vyvíjeli systémy, které budou plnit skutečné potřeby každého svého uživatele a tím akcelerovali celý business a naplňovali potřeby managementu našich klientů.</p>
        <p><b>Propojujeme lidi</b> nejen jako obchodní společnost, ale snažíme se pomocí našich charitativních projektů pomáhat i lidem, kteří se ocitají z jakéhokoliv důvodu na okraji společnosti.</p>
      </div>
      <div class="scroll-down mobile-hide">
        <div class="box text-white text-shadow">
          Dále o iQuest way
          <img class="arrow-down" height="33" width="56" alt="Next_page_arrow_down_white" src="/images/next_page_arrow_down_white.png" />
        </div>
      </div>
    </div>

    <div id="we_connect_tasks_logo" class="page vertical mobile-hide wrapper-center">
      <div class="scroll-up mobile-hide">
        <div class="box">
          <img class="arrow-up" height="33" width="56" alt="Next_page_arrow_up_anim" src="/images/next_page_arrow_up_anim.gif" />
        </div>
      </div>
      <h1 class="initial text-green curve" data-aos="fade-up"><img height="66" width="67" alt="Initial3_color" src="/images/initial3_color.png" />Propojujeme úkoly</h1>
      <div class="logo-content inner-center" data-aos="fade-up">
        <div class="logo-circles">
          <img class="curve" alt="Curve3" src="/images/curve3.svg" />
          <div class="logo-circles-3">
            <div class="circle circle-1 green"><span class="text">Analýza procesů</span></div>
            <div class="circle circle-2 green"><span class="text"> Datová analýza</span></div>
            <div class="circle circle-3 green"><span class="text"> Organizační analýza</span></div>
            <div class="circle circle-4 green"><span class="text"> Finanční analýza</span></div>
            <div class="circle circle-5 green"><span class="text"> Projektování systémů</span></div>
            <div class="circle circle-6 green"><span class="text"> Návrh architektury</span></div>
            <div class="circle circle-7 green"><span class="text"> Návrh uživatelského prostředí</span></div>
            <div class="circle circle-8 green"><span class="text"> Implementace</span></div>
            <div class="circle circle-9 green"><span class="text"> Systémová integrace</span></div>
            <div class="circle circle-10 green"><span class="text"> Adaptace uživatelů</span></div>
            <div class="circle circle-11 green"><span class="text"> Podpora provozu</span></div>
            <div class="circle circle-12 green"><span class="text"> Trvalý vývoj</span></div>
          </div>
        </div>
        <div class="iqw-nav">
          <div class="initial text-yellow ">
            <div class="valign">
              <img height="66" width="67" alt="Initial1_color" src="/images/initial1_color.png" />
              <span class="text middle">Vytváříme rozsáhlé aplikace</span>
            </div>
          </div>
          <div class="initial text-orange ">
            <div class="valign">
              <img height="66" width="67" alt="Initial2_color" src="/images/initial2_color.png" />
              <span class="text middle">Propojujeme lidi</span>
            </div>
          </div>
          <div class="initial text-green active">
            <div class="valign">
              <img height="66" width="67" alt="Initial3_color" src="/images/initial3_color.png" />
              <span class="text middle">Propojujeme úkoly</span>
            </div>
          </div>
          <div class="initial text-blue ">
            <div class="valign">
              <img height="66" width="67" alt="Initial4_color" src="/images/initial4_color.png" />
              <span class="text middle">Propojujeme technologie</span>
            </div>
          </div>
        </div>
      </div>
      <div class="scroll-down mobile-hide">
        <div class="box color text-green">
          Poznej iQuest way
          <img class="arrow-down" height="33" width="56" alt="Next_page_arrow_down_anim" src="/images/next_page_arrow_down_anim.gif" />
        </div>
      </div>
    </div>

    <div id="we_connect_tasks" class="page vertical green-dark text-white inverse">
      <div class="scroll-up mobile-hide">
        <div class="box">
          <img class="arrow-up" height="33" width="56" alt="Next_page_arrow_up_white" src="/images/next_page_arrow_up_white.png" />
        </div>
      </div>
      <div class="offset" data-aos="fade-up">
        <h1 class="initial"><img height="66" width="67" alt="Initial3" src="/images/initial3.png" />Propojujeme úkoly</h1>
        <p>Máme vyvinutý komplexní systém jednotlivých a na sebe navazujících úkolů, které při správné realizaci a postupu vedou co nejkratší cestou k cíli i při řešení velmi komplikovaných obchodních případů.</p>
        <p><b>Propojujeme úkoly</b> analýzy, kdy na začátku se zdá obchodní model zákazníka téměř nepopsatelný a s mnoha výjimkami, ale na konci vznikne přehledný model, na kterém lze stavět rigidní informační systém.</p>
        <p><b>Propojujeme úkoly</b> při návrhu, kdy musíme správně navrhnout vnitřní architekturu systému, datový model i uživatelské prostředí, aby výsledkem byl funkční, jednoduše ovladatelný a přehledný systém, který bude možné v budoucnu kdykoliv udržovat
          a rozšiřovat.</p>
        <p><b>Propojujeme úkoly</b> při vývoji, kdy nikdy nestačí jeden vývojář, aby vznikl dokonalý systém. Vývoj probíhá týmově, abychom tak maximálně sdíleli zkušenosti z minulých projektů a každý nový systém byl ještě na vyšší úrovni, než kdykoliv
          před tím.</p>
        <p><b>Propojujeme úkoly</b> při podpoře provozu, kdy zákazníkovi poskytujeme vzdálený i osobní kontakt, kdykoliv je to potřeba, podporovaný zázemím zkušeného vývojářského a analytického týmu.</p>
      </div>
      <div class="scroll-down mobile-hide">
        <div class="box text-white text-shadow">
          Dále o iQuest way
          <img class="arrow-down" height="33" width="56" alt="Next_page_arrow_down_white" src="/images/next_page_arrow_down_white.png" />
        </div>
      </div>
    </div>

    <div id="we_connect_techno_logo" class="page vertical mobile-hide wrapper-center">
      <div class="scroll-up mobile-hide">
        <div class="box">
          <img class="arrow-up" height="33" width="56" alt="Next_page_arrow_up_anim" src="/images/next_page_arrow_up_anim.gif" />
        </div>
      </div>
      <h1 class="initial text-blue curve" data-aos="fade-up"><img height="66" width="67" alt="Initial4_color" src="/images/initial4_color.png" />Propojujeme technologie</h1>
      <div class="logo-content inner-center" data-aos="fade-up">
        <div class="logo-circles">
          <img class="curve" alt="Curve4" src="/images/curve4.svg" />
          <div class="logo-circles-4">
            <div class="circle circle-1 blue"><span class="text">Analytické nástroje</span></div>
            <div class="circle circle-2 blue"><span class="text"> Ruby&nbsp;on Rails</span></div>
            <div class="circle circle-3 blue"><span class="text"> JavaScript</span></div>
            <div class="circle circle-4 blue"><span class="text"> HTML5</span></div>
            <div class="circle circle-5 blue"><span class="text"> EmberJS</span></div>
            <div class="circle circle-6 blue"><span class="text"> Moderní databáze</span></div>
            <div class="circle circle-7 blue"><span class="text"> ElasticSearch</span></div>
            <div class="circle circle-8 blue"><span class="text"> Reportingové nástroje</span></div>
            <div class="circle circle-9 blue"><span class="text"> Integrační nástroje</span></div>
            <div class="circle circle-10 blue"><span class="text"> Automatizované testy</span></div>
          </div>
        </div>
        <div class="iqw-nav">
          <div class="initial text-yellow ">
            <div class="valign">
              <img height="66" width="67" alt="Initial1_color" src="/images/initial1_color.png" />
              <span class="text middle">Vytváříme rozsáhlé aplikace</span>
            </div>
          </div>
          <div class="initial text-orange ">
            <div class="valign">
              <img height="66" width="67" alt="Initial2_color" src="/images/initial2_color.png" />
              <span class="text middle">Propojujeme lidi</span>
            </div>
          </div>
          <div class="initial text-green ">
            <div class="valign">
              <img height="66" width="67" alt="Initial3_color" src="/images/initial3_color.png" />
              <span class="text middle">Propojujeme úkoly</span>
            </div>
          </div>
          <div class="initial text-blue active">
            <div class="valign">
              <img height="66" width="67" alt="Initial4_color" src="/images/initial4_color.png" />
              <span class="text middle">Propojujeme technologie</span>
            </div>
          </div>
        </div>
      </div>
      <div class="scroll-down mobile-hide">
        <div class="box color text-green">
          Poznej iQuest way
          <img class="arrow-down" height="33" width="56" alt="Next_page_arrow_down_anim" src="/images/next_page_arrow_down_anim.gif" />
        </div>
      </div>
    </div>

    <div id="we_connect_techno" class="page vertical blue-dark text-white inverse">
      <div class="scroll-up mobile-hide">
        <div class="box">
          <img class="arrow-up" height="33" width="56" alt="Next_page_arrow_up_white" src="/images/next_page_arrow_up_white.png" />
        </div>
      </div>
      <div class="offset" data-aos="fade-up">
        <h1 class="initial"><img height="66" width="67" alt="Initial4" src="/images/initial4.png" />Propojujeme technologie</h1>
        <p>Každý náš systém tvoříme pomocí nejnovějších verzí špičkových vývojářských nástrojů, aby naši zákazníci vždy dostávali produkt splňující moderní standardy.</p>
        <ul>
          <li>sloužící pro co nejrychlejší práci s velkými daty (big data),</li>
          <li>umožňující provozování v prostředí cloudu,</li>
          <li>poskytující možnosti integrace na jiné systémy i sociální sítě,</li>
          <li>splňující přísné požadavky na bezpečnost,</li>
          <li>plnící nejvyšší nároky na jednoduché a rychlé uživatelské prostředí.</li>
        </ul>
        <h3>Příklad našich technologií a využívaných služeb:</h3>
        <p>Ruby on Rails, EmberJS, Amazon cloud, JQuery, HTML5, ElasticSearch, CircleCI, NewRelic, AirBrake, Logentries,...</p>
      </div>
    </div>
  </div>
</div>

<script>
  var slowdown, stop_scrolling, scroll_top, page_height, navigation_half_height;
  var current_page = 0;
  var iqw_current_page = 0;
  var mobile;

  $(window).width() > 768 ? mobile = 2 : mobile = 1;

  //scroll action
  $('.page .scroll-down .box').click(function() {
    var $page = $(this).closest('.page');
    $('html, body').stop().animate({
      scrollTop: $page.offset().top + $page.height()
    }, 1000);
    presentation(current_page + 1);

  });
  $('.page .scroll-up .box').click(function() {
    var $page = $(this).closest('.page');
    $('html, body').stop().animate({
      scrollTop: $page.offset().top - $page.height()
    }, 1000);
    presentation(current_page + 1);
  });

  //parallax control
  $(window).scroll(function() {
    clearTimeout(slowdown);
    clearTimeout(stop_scrolling);

    slowdown = setTimeout(function() {
      scroll_top = $(this).scrollTop();
      page_height = $('.page').outerHeight();
      current_page = Math.round(scroll_top / page_height);
      navigation_half_height = $('.navigation').height() / 2;

      //navigation inverse toggle
      $('.navigation').removeClass('inverse');

      $('.page.vertical.inverse, .page.horizontal.inverse.active').each(function() {
        if (scroll_top + navigation_half_height > $(this).offset().top &&
          scroll_top + navigation_half_height < $(this).offset().top + page_height && !$('.navigation').hasClass('inverse')) {
          $('.navigation').addClass('inverse');
        }
      });

      presentation(current_page);
      contact_button(current_page);
    }, 100);

    //align page after stop scrolling
    if (mobile == 2) {
      stop_scrolling = setTimeout(function() {
        $('html, body').stop().animate({
          scrollTop: current_page * page_height
        }, 100);
      }, 1000);
    }
  }).trigger('scroll');

  var iqw_page_elm = '#iquest-way.page';
  var iqw_pages_length = $(iqw_page_elm + ' .page.horizontal').length - 1;
  var arrows_elm = iqw_page_elm + ' .scroll-left, ' +
    iqw_page_elm + ' .scroll-right';

  function iqw_toggle_arrows() {
    if (iqw_current_page <= 0) {
      $(iqw_page_elm + ' .scroll-left').addClass('hidden');
    } else if (iqw_current_page > 0 &&  iqw_current_page < iqw_pages_length) {
      $(arrows_elm).removeClass('hidden');
    } else if (iqw_current_page >= iqw_pages_length) {
      $(iqw_page_elm + ' .scroll-right').addClass('hidden');
    }
  }

  function scroll_to_page(page) {
    $('html, body').stop().animate({
      scrollTop: page * $(iqw_page_elm + ' .scroll-content').height()
    }, 1000);
  }

  function iqw_scroll_to_page(page) {
    $('html, body').stop().animate({
      scrollTop: $('#iquest-way').offset().top + (page * $(iqw_page_elm + ' .scroll-content').height())
    }, 1000);
  }

  //iquest_way scroll horizontal
  function iquest_way_scroll(direction) {
    $(iqw_page_elm + ' .scroll-' + direction).click(function() {
      iqw_current_page += (direction == 'left') ? -1 : 1;

      $(iqw_page_elm + ' .page.horizontal').removeClass('active').eq(iqw_current_page).addClass('active');
      iqw_scroll_to_page(iqw_current_page);
      iqw_toggle_arrows();

      if ($(iqw_page_elm + ' .page.horizontal').eq(iqw_current_page).hasClass('inverse')) {
        $('.navigation, ' + arrows_elm).addClass('inverse');
      } else {
        $('.navigation, ' + arrows_elm).removeClass('inverse');
      }
    });
  }

  var fade_circle = null;

  $circles = $('#iquest_logo .logo-circles .circle');
  $curves = $('#iquest_logo .logo-circles .curve:not(.iq-logo)');
  $text = $('#iquest_logo .logo-content .text');

  function logo_animation(page) {
    var index = 0;

    function clearAnimation() {
      index = 0;
      clearInterval(fade_circle);
      fade_circle = null;
      $circles.show();
      $curves.show();
      $text.text('Vše dohromady může být chaos');
    }

    switch (page) {
      case 11:
        var circles_length = $circles.length;

        if (fade_circle == null) {
          fade_circle = setInterval(function() {
            $circles.eq(index).fadeOut(400);
            index++;

            if (index == circles_length / 2)
              $text.text('Nebo symfonie');

            if (index == circles_length) {
              $curves.fadeOut(800, function() {
                $text.text('iQuest way');
              }).promise().done(function() {
                setTimeout(function() {
                  clearAnimation();
                  logo_animation(page);
                }, 5000);
              });
            }
          }, 200);
        }

        break;
    }
  }

  //presentation animation
  $('#presentation .iq-logo').hide();
  $('#presentation .logo-circles .circle').hide();
  var presentation_play = false;
  var presentation_state = 'first';

  function presentation(page) {
    if (page == 0 && !presentation_play) {
      presentation_play = true;
      switch (presentation_state) {
        case 'first':
          var time = 68;
          var step = time;
          var circles_length = $('#presentation .logo-circles .section .circle').length;
          $('#presentation .logo-circles .section .circle').hide().each(function(index, obj) {
            setTimeout(function() {
              $(obj).fadeIn('slow').promise().done(function() {
                if (!--circles_length) {
                  change_state('second');
                }
              });
            }, step += time);
          });
          break;
        case 'second':
          var time = 75;
          var step = time;
          var circles_length = $('#presentation .logo-circles-5 .circle').length;
          $('#presentation .iq-logo').hide().fadeIn(circles_length * time, 'easeInExpo');
          $('#presentation .logo-circles-5 .circle').hide().each(function(index, obj) {
            setTimeout(function() {
              $(obj).fadeIn('slow').promise().done(function() {
                if (!--circles_length) {
                  change_state('third');
                }
              });
            }, step += time);
          });
          break;
        case 'third':
          $('#presentation .logo-circles .curve:not(.iq-logo)').fadeOut('slow');
          $('#presentation .logo-circles .circle').fadeOut('slow');
          setTimeout(function() {
            $('#presentation .iq-logo').fadeOut('slow');
            $('#presentation .logo-circles .curve:not(.iq-logo)').fadeIn('slow');
            change_state('first');
          }, 4000);
          break;
      }

      function change_state(state) {
        presentation_play = false;
        presentation_state = state;
        presentation(page);
      }
    }
  }

  //iquest_way scroll to pillar
  $('.iqw-nav .initial').click(function() {
    iqw_current_page = $(this).index() * mobile;
    iqw_scroll_to_page(iqw_current_page);
  });

  //scroll to page from url
  var slide = getUrlParameter('slide');

  if (slide && slide !== 'undefined') {
    scroll_to_page(slide - 1);
  }

  // Contact us button.
  var isShowContactButton = false;
  var contact_button = function(current_page){
    if(current_page !== 0 && !isShowContactButton){
      console.log('da');
      $('#contact_button').removeClass().addClass('contact-bubble fixed bounceIn animated page-' + current_page);
      $('#contact_button').children('[class ^= bubble]').addClass('bounceIn');
      setTimeout(function(){
        $('#contact_button').children('[class ^= bubble]').css('display', 'block');
      }, 300);
      isShowContactButton = true;
    }else if(isShowContactButton){
      $('#contact_button').removeClass().addClass('contact-bubble fixed bounceIn animated page-' + current_page);
    }
  }
  // Contact us button ./

</script>
