---
title: iQuest - Vyvíjíme mobilní aplikace nové generace
subtitle: Ideální řešení pro Vaše podnikání.
---
<div class="what-we-do">
  <header></header>
  <div class="title">
    <div class="back-fixed" data-aos="fade-left">
      <a href="/"><i class="fa fa-3x fa-arrow-circle-left"></i></a>
    </div>
    <h1 data-aos="fade-up">Vyvíjíme mobilní aplikace nové generace</h1>
    <h2 data-aos="fade-up">Pro Vaš startup nebo zaběhlý projekt</h2>
    <div class="row">
      <div class="col-offset-10 col-40 icons" data-aos="fade-right">
        <% link_to t('urls.mobilni_aplikace'), :class => 'box' do %>
        <div class="img-wrap">
          <img alt="Phone_with_hand_128" src="/images/Phone_with_Hand_128.png">
        </div>
        <div class="text">Mobilní aplikace<br /> pro firmy</div>
        <% end %>
      </div>
      <div class="col-40 icons" data-aos="fade-left">
        <% link_to t('urls.verejne_aplikace'), :class => 'box' do %>
        <div class="img-wrap">
          <img alt="Phone_with_hand_128" src="/images/Phone_with_Hand_128.png">
        </div>
        <div class="text">Mobilní aplikace<br /> pro všechny</div>
        <% end %>
      </div>
    </div>
  </div>

  <%= partial 'kinds_of_products' %>

  <div class="info">
    <div class="box left v-center">
      <img alt="Enterprise_mobile_applications_1" src="/images/enterprise_mobile_applications_1.jpg" data-aos="fade-right" />
      <div class="offset" data-aos="fade-left">
        <h3>Jaký je rozdíl našich mobilních aplikací oproti běžným?</h3>
        <p>
          <b>Tvoříme mobilní aplikace pro všechny platformy najednou.</b> Hybridní způsob vývoje pomáhá <b>ušetřit čas, snížit náklady na vývoj a zlepšit kvalitu software</b> díky snadnému testování a údržbě.
          <br /><br />
          Používáme speciální technologie (Cordova, Bootstrap, EmberJS) pro rychlý vývoj. Co nejjednodušší vzhled pro použití při každodenní práci. Jednoduché a rychlé ovládání. Snadné a rychlé provádění změn a úprav v reálném čase. Obvykle napojení na vnitrofiremní, či jiný systém.
        </p>
      </div>
    </div>
  </div>
  <div class="we-are-the-champions" data-aos="fade-up">
    <div class="text-green">Specializované technologie</div>
    <div class="text-green">Rychlý vývoj</div>
    <div class="text-green">Okamžitá realizace požadavků</div>
    <div class="text-green">Přehledné a jednoduché ovládání</div>
  </div>
  <div class="info">
    <div class="box right v-center">
      <img alt="Enterprise_mobile_applications_1" src="/images/enterprise_mobile_applications_2.jpg" data-aos="fade-left" />
      <div class="offset" data-aos="fade-right">
        <p><b>Proč mobilní aplikace od iQuest?</b></p>
        <ul>
          <li>Vyvíjíme již více než 13 let i velmi náročné systémy.</li>
          <li>Máme zkušenost s velkými systémy.</li>
          <li>Nejsme pouze vývojáři, radí konzultujeme i byznys model projektu.</li>
          <li>V průběhu vývoje provádíme užitečné testování.</li>
          <li>Děláme podporu marketingu a virální šíření aplikaci.</li>
        </ul>
      </div>
    </div>
  </div>
  <h3 class="text-green mobile-h3" data-aos="fade-up">Využijte jednu mobilní aplikaci na více platformách.<br />Ušetřte za vývoj.</h3>
  <%= partial 'our_technology' %>
</div>

<%= partial 'footer' %>

<script type="text/javascript">
  $(document).ready(function() {
    $('.we-are-the-champions').slick({
      autoplay: true,
      autoplaySpeed: 2000,
      dots: true
    });
  });

  $('.back-fixed').on('mouseenter', function() {
    $(this).addClass('animated pulse');
  }).on('mouseleave', function() {
    $(this).removeClass('animated pulse');
  })

  $('.icons .box').on('mouseenter', function() {
    $(this).find('img').addClass('animated pulse');
  }).on('mouseleave', function() {
    $(this).find('img').removeClass('animated pulse');
  })
</script>
