---
title: iQuest - Vyvíjíme podnikové mobilní aplikace
subtitle: Ideální pomocník pro Vaše mobilní pracovníky v terénu.
---
<div class="what-we-do what-we-do-app">
  <header></header>
  <div class="title">
    <div class="back-fixed" data-aos="fade-left">
      <% link_to t('urls.mobile_applications') do %><i class="fa fa-3x fa-arrow-circle-left"></i><% end %>
    </div>
    <h1 data-aos="fade-up">Vyvíjíme mobilní aplikace pro firmy</h1>
    <h2 data-aos="fade-up">Ideální pomocník pro Vaše mobilní pracovníky v terénu</h2>
  </div>

  <div class="info">
    <div class="box left v-center">
      <img alt="Enterprise_mobile_applications_1" src="/images/podnikove_mobile_applications_1.jpg" data-aos="fade-right" />
      <div class="offset" data-aos="fade-left">
        <p><b>Naše podnikové mobilní aplikace splňují důležité náležitosti:</b></p>
        <ul>
          <li>Optimalizované pro snadné využití v každodenní práci.</li>
          <li>Snadné a rychlé ovládání.</li>
          <li>Rychlé a jednoduché provádění změn a úprav v reálném čase.</li>
          <li>Pracují online i offline.</li>
          <li>Obvykle napojení na vnitrofiremní, či jiný systém.</li>
          <li>Využívají hardwarových prostředků mobilních zařízení (GPS, mapy, fotoaparát a jiné).</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="info">
    <div class="box right v-center">
      <img alt="Enterprise_mobile_applications_1" src="/images/podnikove_mobile_applications_2.jpg" data-aos="fade-left" />
      <div class="offset" data-aos="fade-right">
        <p><b>Jaké podnikové mobilní aplikace jsme vytvořili?</b></p>
        <p><b>Mobilní aplikace pro</b>:</p>
        <ul>
          <li><b>merchandisery</b> společnosti Space and Profit.</li>
          <li><b>řidiče</b> taxi Modrý anděl.</li>
          <li><b>servisní pracovníky</b> plynových kotlů Hašek servis.</li>
          <li><b>obchodní reprezentanty</b> Green­Swan Pharmaceuticals ČR.</li>
          <li>obchodní reprezentanty Green­Swan Pharmaceuticals SR.</li>
          <li>obchodní reprezentanty <b>Cemio Zwitzerland</b>.</li>
          <li>obchodní reprezentanty Magistra lékárny.</li>
          <li>A další...</li>
        </ul>
      </div>
    </div>
  </div>
  
    <h3 class="text-green mobile-h3" data-aos="fade-up">Dejte Vaším zaměstnancům aplikaci,<br /> se kterou budou radí pracovat</h3>
  
  <%= partial 'our_technology' %>
</div>
<%= partial 'footer' %>
