---
title: iQuest - Reference
subtitle: Mezi naše spokojené zákazníky patří Modrý anděl, IGNUM, Cemio Switzerland AG, ProCare Medical a mnoho dalších. Přesvědčte se sami.
---
<!-- Bubbles -->
<!-- <div class="desktop"> -->
<!-- </div> -->
<div class="content ref-list">

	<a href="#" class="arrow-down hvr-hang" id="arrow_down"></a>

	<div class="row clear">
		<div class="col-33" id="greenswan" data-aos="fade-up" data-aos-offset="250">
			<a href="/reference/greenswan">
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/greenswan.png" alt="ref" />
					</div>
				</div>
				<h3>Green-Swan Pharmaceuticals CR a.s.</h3>
			</a>
			<span>CRM systém pro efektivní řízení obchodních reprezentantů v terénu. Poskytuje informace o produktech a jejich prodejích, reporting, umožňuje odesílat objednávky a mnoho dalšího. <a href="/reference/greenswan" class="more">Více <i class="fa fa-arrow-right"></i></a></span>
		</div>
		<div class="col-33" id="ignum" data-aos="fade-up" data-aos-offset="250">
			<a href="/reference/ignum">
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/ignum.png" alt="ref" />
					</div>
				</div>
				<h3>IGNUM</h3>
			</a>
			<span>Vnitřní informační systém a zákaznický portál pro jednoho z největších poskytovatelů webhostingu a serverhostingu v České republice zahrnující správu zákaznických účtů a jejich nastavení. <a href="/reference/ignum" class="more">Více <i class="fa fa-arrow-right"></i></a></span>
		</div>
		<div class="col-33" id="modry-andel" data-aos="fade-up" data-aos-offset="250">
			<a href="/reference/modry-andel">
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/modry-andel.png" alt="ref" />
					</div>
				</div>
				<h3>Dispečink Modrý anděl</h3>
			</a>
			<span>Kompletní softwarové zázemí od call-centra po web a napojení mobilních aplikací pro službu Modrý anděl. <a href="/reference/modry-andel" class="more">Více <i class="fa fa-arrow-right"></i></a></span>
		</div>
	</div>

	<div class="row clear">
		<div class="col-33" id="domenacz" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/domenacz.png" alt="ref" />
				</div>
			</div>
			<h3>Doména.cz</h3>
			<span>Redesign a přeprogramování kompletního registračního procesu domén pro společnost IGNUM, jednoho z největších poskytovatelů domén a webhostingu v České republice.</span>
		</div>
		<div class="col-33" id="nokian" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/nokian.png" alt="ref" />
				</div>
			</div>
			<h3>Nokian Tyres s.r.o.</h3>
			<span>Analýza a návrh možností integrace interního informačního systému s výrobci automobilů pro předního světového výrobce pneumatik.</span>
		</div>
		<div class="col-33" id="eurosignal" data-aos="fade-up" data-aos-offset="250">
			<a href="/reference/eurosignal">
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/eurosignal.png" alt="ref" />
					</div>
				</div>
				<h3>EUROSIGNAL</h3>
			</a>
			<span>Komplexní vnitrofiremní informační systém s klientskou samoobsluhou pro poskytovatele internetového připojení, který zahrnuje správu klientů, smluv, tarifů a mnoho dalšího. <a href="/reference/eurosignal" class="more">Více <i class="fa fa-arrow-right"></i></a></span>
		</div>
	</div>

	<div class="row clear">
		<div class="col-33" id="avu" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/avu.png" alt="ref" />
				</div>
			</div>
			<h3>Akademie výtvarných umění v Praze</h3>
			<span>Pro AVU jsme vybudovali rozsáhlý web integrovaný s interními informačními systémy.</span>
		</div>
		<div class="col-33" id="cia-news" data-aos="fade-up" data-aos-offset="250">
			<a href="/reference/cia-news">
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/cia-news.png" alt="ref" />
					</div>
				</div>
				<h3>ČIA News - Česká informační agentura</h3>
			</a>
			<span>Klientská webová aplikace a datový sklad pro jednu z největších informačních agentur v ČR, která umožňuje snadné a rychlé vyhledávání textového obsahu ve velkém množství dat. <a href="/reference/cia-news" class="more">Více <i class="fa fa-arrow-right"></i></a></span>
		</div>
		<div class="col-33" id="chirs" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/chirs.png" alt="ref" />
				</div>
			</div>
			<h3>CHIRŠ</h3>
			<span>Vytvořili jsme projekt unikátní mobilní aplikace pro inteligentní vyhledávání realit na míru uživatelům.</span>
		</div>
	</div>

	<div class="row clear">
		<div class="col-33" id="procare" data-aos="fade-up" data-aos-offset="250">
			<a href="/reference/procare">
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/procare.png" alt="ref" />
					</div>
				</div>
				<h3>ProCare</h3>
			</a>
			<span>Interní informační systém pro jednoho z nejvýznamnějších poskytovatelů zdravotní péče v České republice sloužící k řízení a optimalizaci práce zdravotnických pracovníků přímo v terénu. <a href="/reference/procare" class="more">Více <i class="fa fa-arrow-right"></i></a></span>
		</div>
		<div class="col-33" id="hasbro" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/hasbro.png" alt="ref" />
				</div>
			</div>
			<h3>HASBRO Nerf</h3>
			<span>Pro našeho klienta Lion Communications jsme vytvořili Facebook aplikaci pro hráče HASBRO NERF.</span>
		</div>
		<div class="col-33" id="magistra" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/magistra.png" alt="ref" />
				</div>
			</div>
			<h3>MAGISTRA</h3>
			<span>Pro majitele sítě lékáren Magistra jsme vytvořili interní informační systém.</span>
		</div>
	</div>

	<div class="row clear">
		<div class="col-33" id="vegatour" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/vegatour.png" alt="ref" />
				</div>
			</div>
			<h3>VegaTour</h3>
			<span>Projekt informačního systému prodeje jízdenek a odbavení cestujících v autobusech společnosti VegaTour. Projekt zahrnuje napojení kontaktních míst do mobilní aplikace pro cestující a kontrolory v autobusech.</span>
		</div>
		<div class="col-33" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper" id="klemon_fashion">
				<div>
					<img src="/images/Refs/klemon_fashion.png" alt="ref" />
				</div>
			</div>
			<h3>Klemon fashion</h3>
			<span>Pro módní značku Klemon fashion jsme vytvořili B2B portál pro konfiguraci a proces realizace velkoobchodních zakázek pro značky Blažek a další.</span>
		</div>
		<div class="col-33" id="impuls" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/impuls.png" alt="ref" />
				</div>
			</div>
			<h3>Rádio Impuls</h3>
			<span>Pro našeho klienta Lion communications jsme vytvořili micro-rezervační portál rádia Impuls.</span>
		</div>
	</div>

	<div class="row clear">
		<div class="col-33" id="partspoint" data-aos="fade-up" data-aos-offset="250">
			<a href="/reference/partspoint">
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/partspoint.png" alt="ref" />
					</div>
				</div>
				<h3>PARTSPOINT Czech, AUTOPRIMA Czech, AUTOPRIMA Slovakia, AMŠ Slovakia</h3>
			</a>
			<span>Rozsáhlý B2B webový informační systém pro distributory náhradních dílů s integrací na interní informační systémy distributorů i na rozsáhlou německou databázi TecDoc. <a href="/reference/partspoint" class="more">Více <i class="fa fa-arrow-right"></i></a></span>
		</div>
		<div class="col-33" id="summit_media" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/summit_media.png" alt="ref" />
				</div>
			</div>
			<h3>Summit Media</h3>
			<span>Pro významného britského klienta jsme pracovali na řadě projektů jako subdodavatelé.</span>
		</div>
		<div class="col-33" id="frame100r" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/frame100r.png" alt="ref" />
				</div>
			</div>
			<h3>FRAME100R</h3>
			<span>Pro produkční společnost jsme vytvořili crowd-fundingový portál k filmu Onřeje Sokola Krásno.</span>
		</div>
	</div>

	<div class="row clear">
		<div class="col-33" id="lucie" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/lucie.png" alt="ref" />
				</div>
			</div>
			<h3>Skupina Lucie</h3>
			<span>Vytvořili jsme rezervační portál pro nákup vstupenek na koncerty skupiny Lucie.</span>
		</div>
		<div class="col-33" id="paartyy" data-aos="fade-up" data-aos-offset="250">
			<a href="/reference/paartyy">
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/paartyy.png" alt="ref" />
					</div>
				</div>
				<h3>Paartyy.cz: Nestle, Telefonica O2, Vitana, Nicolaus WOM marketing webový portál</h3>
			</a>
			<span>WOM marketing webový portál pro společnost Outbreak, který využívá principy sociální sítě a umožňuje oslovit nové spotřebitele určitých produktů a značek, jejich přátelé a známé. <a href="/reference/paartyy" class="more">Více <i class="fa fa-arrow-right"></i></a></span>
		</div>
		<div class="col-33" id="cemio" data-aos="fade-up" data-aos-offset="250">
			<a href="/reference/cemio">
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/cemio.png" alt="ref" />
					</div>
				</div>
				<h3>Cemio Switzerland AG</h3>
			</a>
			<span>CRM systém pro efektivní řízení obchodních reprezentantů v terénu. Systém umožňuje plánovat návštěvy, evidovat náklady a ponechaný materiál, odesílat objednávky a mnoho dalšího. <a href="/reference/cemio" class="more">Více <i class="fa fa-arrow-right"></i></a></span>
		</div>
	</div>

	<div class="row clear">
		<div class="col-33" id="extenso" data-aos="fade-up" data-aos-offset="250">
			<a href="/reference/extenso">
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/extenso.png" alt="ref" />
					</div>
				</div>
				<h3>Extenso - software pro pojišťovacího makléře</h3>
			</a>
			<span>Informační systém pro správu pojistných událostí a jejich životního cyklu, díky které došlo k usnadnění, zpřehlednění a urychlení všech procesů vedoucích k úspěšné likvidaci pojistných událostí. <a href="/reference/extenso" class="more">Více <i class="fa fa-arrow-right"></i></a></span>
		</div>
		<div class="col-33" id="amca" data-aos="fade-up" data-aos-offset="250">
			<a href="/reference/amca">
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/amca.png" alt="ref" />
					</div>
				</div>
				<h3>AMCA</h3>
			</a>
			<span>Převzetí vývoje rozsáhlého informačního systému pro komplexní organizaci mezinárodních konferencí, tedy od registrace, přes řízení finančních toků až po správu ubytování hostů. <a href="/reference/amca" class="more">Více <i class="fa fa-arrow-right"></i></a></span>
		</div>
		<div class="col-33" id="bahal" data-aos="fade-up" data-aos-offset="250">
			<a href="/reference/bahal">
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/bahal.png" alt="ref" />
					</div>
				</div>
				<h3>Pasivní domy BAHAL</h3>
			</a>
			<span>Webový portál umožňující zákaznickou konfiguraci a kalkulaci stavby nového pasivního či nízkoenergetického dobu včetně jeho pohodlného výběru. Součástí je též porovnávač a modul pro oslovení potencionálních klientů. <a href="/reference/bahal" class="more">Více <i class="fa fa-arrow-right"></i></a></span>
		</div>
	</div>

	<div class="row clear">
		<div class="col-33" id="autoprima" data-aos="fade-up" data-aos-offset="250">
			<a href="/reference/autoprima">
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/autoprima.png" alt="ref" />
					</div>
				</div>
				<h3>AUTOPRIMA Česká republika, AUTOPRIMA Slovenská republika, AUTO MOTO ŠPORT Slovenská republika</h3>
			</a>
			<span>Rozsáhlý B2B webový informační systém pro distributory náhradních dílů s kompletní integrací na interní systémy jednotlivých regionálních poboček a propojení s centrálním skladem. <a href="/reference/autoprima" class="more">Více <i class="fa fa-arrow-right"></i></a></span>
		</div>
		<div class="col-33" id="hasek" data-aos="fade-up" data-aos-offset="250">
			<a href="/reference/hasek">
				<div class="img-wrapper">
					<div>
						<img src="/images/Refs/hasek.png" alt="ref" />
					</div>
				</div>
				<h3>HAŠEK servis</h3>
			</a>
			<span>Firemní informační systém servisních techniků plynových kotlů, který podporuje správu klientů, zakázek a pracovníků. Součástí je napojení na ústřednu call-centra společnosti a mobilní aplikace. <a href="/reference/hasek" class="more">Více <i class="fa fa-arrow-right"></i></a></span>
		</div>
		<div class="col-33" id="sva" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/sva.png" alt="ref" />
				</div>
			</div>
			<h3>S.V.A. spol. s r.o.</h3>
			<span>Systém pro správu a organizaci pravidelných servisních činností společnosti realizující stavebně-montážní činnosti.</span>
		</div>
	</div>

	<div class="row clear">
		<div class="col-33" id="melkus" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/melkus.png" alt="ref" />
				</div>
			</div>
			<h3>Melkus</h3>
			<span>Vytvořili jsme menší rezervační systém na míru pro náš oblíbený penzion Melkus v Peci pod Sněžkou. </span>
		</div>
		<div class="col-33" id="toptrika" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/toptrika.png" alt="ref" />
				</div>
			</div>
			<h3>Toptrika.cz</h3>
			<span>Tvorba e-shopu zahrnující přehledné vyhledávání, vytvoření a odeslání objednávky vč. jejího uhrazení, možnost založení a správy zákaznického účtu. </span>
		</div>
		<div class="col-33" id="pravo_rychle" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/pravo_rychle.png" alt="ref" />
				</div>
			</div>
			<h3>Právo rychle</h3>
			<span>Vybudovali jsme portál <a href="http://www.pravorychle.cz">www.pravorychle.cz</a> s nabídkou právních dokumentů přímo od zkušených advokátů.</span>
		</div>
	</div>

	<div class="row clear">
		<div class="col-33" id="sudoku" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/sudoku.png" alt="ref" />
				</div>
			</div>
			<h3>Sudoku</h3>
			<span>Pro našeho dlouhodobého klienta jsme relizovali webovou hru Sudoku. <a href="http://www.playsudoku.eu"></a></span>
		</div>
		<div class="col-33" id="lcr" data-aos="fade-up" data-aos-offset="250">
			<div class="img-wrapper">
				<div>
					<img src="/images/Refs/lcr.png" alt="ref" />
				</div>
			</div>
			<h3>Clinical Research</h3>
			<span>Pro našeho klienta jsme vytvořili webovou aplikaci pro sběr a vyhodnocování dat. <a href="http://www.clinical-research.cz/en/home-page"></a></span>
		</div>
		<div class="col-33">
			<!-- <a href="/kontakt" id="ref_contact" class="contact-bubble">
				<div class="bubble-1 delay-1 animated bounceIn">
					<i class="fa fa-phone"></i>
				</div>
				<div class="bubble-2 delay-3 animated bounceIn">
					<i class="fa fa-phone"></i>
				</div>
				<div class="bubble-3 delay-2 animated bounceIn">
					<i class="fa fa-phone"></i>
				</div>
				<span>Kontaktujte nás</span>
			</a> -->
		</div>
	</div>

</div>


<script type="text/javascript">
	var nav_height = $('.navigation #logo').height();
	var mobile;

	$(window).width() > 768 ? mobile = false : mobile = true;

	function circle(width, height, target, name) {
		this.elm = $('<a id="bubble_' + name + '" ' + (mobile ? '' : 'class="circle"') + '>' +
			'<div class="inner"></div>' +
			'</a>');
		this.width = width;
		this.height = height;
		this.top = null;
		this.left = null;
		this.angle = Math.random() * 360 * Math.PI / 180;
		this.speed = 0.5;
		this.xvel = Math.cos(this.angle) * this.speed;
		this.yvel = Math.sin(this.angle) * this.speed;
		this.target = $(target);
		this.name = name;
		this.init = function() {
			if (!mobile) {
				this.elm.css({
					'width': this.width,
					'height': this.height
				});
			}

			// Click bubble = scroll animation
			$(this.elm[0]).click(function(){

				var id = $(this).find('img').attr('class');
				var obj = $('div#'+id).find('img');
				var href = $('div#'+id).children('a').attr('href');
				var sTop = obj.offset().top;

				if(href !== undefined){
					window.location.href = href;
				}else{
					obj.addClass((obj.hasClass('animated')) ? false : 'animated').removeClass('flash');

					$('html, body').animate({
			        scrollTop: sTop - 200
			    }, 1200, 'easeInOutExpo', function(){
			    	obj.addClass('flash');
			    });
				}

			});
			// End scroll animation

			this.elm.appendTo(this.target);
			this.top = Math.random() * (this.target.height() - this.elm.height() - nav_height - 80) + nav_height;
			this.left = Math.random() * (this.target.width() - this.elm.width());
			this.elm.find('.inner').append('<img class="' + this.name + '" src="images/Refs/' + this.name + '.png" alt="ref" />');
		}
		this.update = function(){
			this.top += this.yvel;
			this.left += this.xvel;

			this.elm.css({
				'top': Math.round(this.top),
				'left': Math.round(this.left)
			});

			if (this.top < nav_height || this.top > this.target.height() - this.elm.height() - 80) {
				this.yvel = -this.yvel;
			}
			if (this.left < 0 || this.left > this.target.width() - this.elm.width()) {
				this.xvel = -this.xvel;
			}
		}
	}

	var circles = [];

	circles.push(new circle('14vw', '14vw', '.desktop', 'greenswan'));
	circles.push(new circle('14vw', '14vw', '.desktop', 'partspoint'));
	circles.push(new circle('14vw', '14vw', '.desktop', 'cemio'));
	circles.push(new circle('12vw', '12vw', '.desktop', 'modry-andel'));
	circles.push(new circle('12vw', '12vw', '.desktop', 'procare'));
	circles.push(new circle('12vw', '12vw', '.desktop', 'eurosignal'));
	circles.push(new circle('12vw', '12vw', '.desktop', 'cia-news'));
	circles.push(new circle('12vw', '12vw', '.desktop', 'avu'));
	circles.push(new circle('12vw', '12vw', '.desktop', 'vegatour'));
	circles.push(new circle('12vw', '12vw', '.desktop', 'autoprima'));
	circles.push(new circle('9vw', '9vw', '.desktop', 'toptrika'));
	circles.push(new circle('9vw', '9vw', '.desktop', 'domenacz'));
	circles.push(new circle('9vw', '9vw', '.desktop', 'magistra'));
	circles.push(new circle('9vw', '9vw', '.desktop', 'hasbro'));
	circles.push(new circle('9vw', '9vw', '.desktop', 'ignum'));
	circles.push(new circle('9vw', '9vw', '.desktop', 'bahal'));
	circles.push(new circle('9vw', '9vw', '.desktop', 'amca'));
	circles.push(new circle('9vw', '9vw', '.desktop', 'hasek'));
	circles.push(new circle('9vw', '9vw', '.desktop', 'extenso'));
	circles.push(new circle('9vw', '9vw', '.desktop', 'paartyy'));

	for (var i = 0; i < circles.length; i++) {
		circles[i].init();
	}

	function render() {
		for (var i = 0; i < circles.length; i++) {
			circles[i].update();
		}
	}

	if (!mobile) {
		window.requestAnimFrame = (function() {
			return window.requestAnimationFrame ||
				window.webkitRequestAnimationFrame ||
				window.mozRequestAnimationFrame ||
				function(callback) {
					window.setTimeout(callback, 1000 / 60);
				};
		})();

		// (function anim() {
		// 	requestAnimFrame(anim);
		// 	render();
		// })();
	}

	// Arrow under bubbels
	$(window).scroll(function(){
		if($(window).height() - 200 <= $(window).scrollTop())
			$('#arrow_down').fadeOut(600);
		else if($(window).scrollTop() <= 10)
			$('#arrow_down').fadeIn(600);
	});

	$('#arrow_down').click(function(){
		$('html, body').animate({
	        scrollTop: $(window).height() - 200
	    }, 1200, 'easeInOutExpo');
	});
</script>
