---
title: iQuest - Úspěšně odeslaný formulář
subtitle: Úspěšně odeslaný formulář
---
<div class="page-offset">
  <div class="title">
    <div class="heart"></div>
    <div class="row">
      <div class="col-100">
        <i class="fa fa-lg fa-check-circle success-icon animated fadeInUp"></i>
      </div>
    </div>
    <h1 class="animated delay-05s fadeInUp">Úspěšně odeslaný formulář</h1>
    <h3 class="animated delay-1s fadeInUp">Děkujeme, že jste nás kontaktovali.<br />Ozveme se Vám nejpozději následující pracovní den.</h3>
    <p class="animated delay-1s fadeInUp">Tým iQuest</p>
    <div class="row">
      <div class="col-100">
        <a href="/" class="go-home animated delay-1-5s fadeInLeft">
          <i class="fa fa-lg fa-home"></i>
          <span>Úvodní stranka</span>
        </a>
        <a href="https://www.facebook.com/iquest.cz" target="_blank" class="go-facebook animated delay-1-5s fadeInRight">
          <i class="fa fa-lg fa-facebook"></i>
          <span>Jsme na facebook</span>
        </a>
      </div>
    </div>
  </div>
</div>

<%= partial 'footer' %>
