---
title: iQuest - Veřejně dostupné mobilní aplikace
subtitle: Ideální pomocník pro Vaše mobilní pracovníky v terénu.
---
<div class="what-we-do what-we-do-app">
  <header></header>
  <div class="title">
    <div class="back-fixed" data-aos="fade-left">
      <% link_to t('urls.mobile_applications') do %><i class="fa fa-3x fa-arrow-circle-left"></i><% end %>
    </div>
    <h1 data-aos="fade-up" data-aos="fade-up">Vyvíjíme mobilní aplikace nové generace</h1>
    <h2 data-aos="fade-up">Dokonalé řešení pro Vaš startup nebo bežící projekt</h2>
  </div>
  <div class="info">
    <div class="box left v-center">
      <img alt="Enterprise_mobile_applications_1" src="/images/verejne_mobile_applications_1.jpg" data-aos="fade-right" />
      <div class="offset" data-aos="fade-left">
        <p><b>V čem jsou naše mobilní aplikace pro všechny jiné?</b></p>
        <ul>
          <li>Aplikace plné nejlepších nápadů.</li>
          <li>Skvělý design, který zaujme.</li>
          <li>Atraktivní ovládaní odpovídající nejnovějším trendům.</li>
          <li>Maximalní možné využití hardware telefonu.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="info">
    <div class="box right v-center">
      <img alt="Enterprise_mobile_applications_1" src="/images/verejne_mobile_applications_2.jpg" data-aos="fade-left" />
      <div class="offset" data-aos="fade-right">
        <p><b>Proč mobilní aplikace od iQuest?</b></p>
        <ul>
          <li>Vyvíjíme mobilní aplikace pro více platforem. Více informace o <a href="http://www.jedenvyvoj.cz/">hybridních aplikacich zde.</a></li>
          <li>Přinášíme rychlost, úsporu a kvalitu.</li>
          <li>Vyvíjíme již více než 13 let i velmi náročné systémy.</li>
          <li>Máme zkušenost s velkými systémy.</li>
          <li>Nejsme pouze vývojáři, radí konzultujeme i byznys model projektu.</li>
          <li>V průběhu vývoje provádíme uživatelské testování.</li>
          <li>Děláme podporu marketingu a virální šíření aplikaci.</li>
        </ul>
      </div>
    </div>
  </div>
  
    <h3 class="text-green mobile-h3" data-aos="fade-up">Nejsme jen programátoři.<br />Máme zkušenosti a software děláme pro lidi.</h3>
  <%= partial 'references' %>
  <%= partial 'our_technology' %>
</div>
<%= partial 'footer' %>
