---
title: iQuest - Veřejně dostupné mobilní aplikace
subtitle: Ideální pomocník pro Vaše mobilní pracovníky v terénu.
---
<div class="what-we-do what-we-do-app">
  <header></header>
  <div class="title">
    <h1 data-aos="fade-up" data-aos="fade-up">Vyvíjíme unikátní mobilní aplikace pro veřejnost</h1>
    <h2 data-aos="fade-up">Dokonalé řešení pro podporu Vašeho podnikání</h2>
  </div>
  <div class="info">
    <div class="box left v-center">
      <img alt="Enterprise_mobile_applications_1" src="/images/verejne_mobile_applications_1.jpg" data-aos="fade-right" />
      <div class="offset" data-aos="fade-left">
        <p><b>Proč mobilní aplikace pro veřejnost od nás?</b></p>
        <ul>
          <li>Snadné ovládání pro každodenní použití.</li>
          <li>Uživatel je stahuje z Google Play či AppStore, popř. je možné je nasadit na web.</li>
          <li>Responzivní design aplikací.</li>
          <li>Provádíme rozsáhlou analýzu, která pomůže vytvořit mobilní aplikaci pro Vaš publikum.</li>
          <li>Jejich vývoj i údržba probíhá současně pro všechny platformy.</li>
          <li>Využívají hardwarových prostředků mobilních zařízení.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="info">
    <div class="box right v-center">
      <img alt="Enterprise_mobile_applications_1" src="/images/verejne_mobile_applications_2.jpg" data-aos="fade-left" />
      <div class="offset" data-aos="fade-right">
        <p><b>Jaké uživatelské mobilní aplikace jsme vytvořili?</b></p>
        <ul>
          <li>Mobilní aplikace pro pasažéry taxi Modrý anděl.</li>
          <li>Webový a mobilní systém domena.cz pro společnost IGNUM,  jednoho z největších poskytovatelů domén a webhostingu.</li>
          <li>Unikátní mobilní aplikace pro vyhledávání nemovitosti na míru uživatelům.</li>
        </ul>
      </div>
    </div>
  </div>
  
    <h3 class="text-green mobile-h3" data-aos="fade-up">Nejsme jen programátoři.<br />Máme zkušenosti a software děláme pro lidi.<br /><br />
    <% link_to t('urls.contact') do %>
      Obraťte se na nás.
    <% end %></h3>
  
  <%= partial 'our_technology' %>
</div>
<%= partial 'footer' %>
