---
title: iQuest - Veřejně dostupné mobilní aplikace
subtitle: Ideální pomocník pro Vaše mobilní pracovníky v terénu.
---
<div class="what-we-do what-we-do-app">
  <header></header>
  <div class="title">
    <div class="back-fixed" data-aos="fade-left">
      <% link_to t('urls.mobile_applications') do %><i class="fa fa-3x fa-arrow-circle-left"></i><% end %>
    </div>
    <h1 data-aos="fade-up" data-aos="fade-up">Vyvíjíme mobilní aplikace pro všechny</h1>
    <h2 data-aos="fade-up">Dokonalé řešení pro podporu Vašeho startupu nebo bežícího projektu</h2>
  </div>
  <div class="info">
    <div class="box left v-center">
      <img alt="Enterprise_mobile_applications_1" src="/images/verejne_mobile_applications_1.jpg" data-aos="fade-right" />
      <div class="offset" data-aos="fade-left">
        <p><b>V čem jsou naše mobilní aplikace pro všechny jiné?</b></p>
        <ul>
          <li>Aplikace plné nejlepších nápadů.</li>
          <li>Skvělý design, který zaujme.</li>
          <li>Atraktivní ovládaní odpovídající nejnovějším trendům.</li>
          <li>Maximalní možné využití hardware telefonu.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="info">
    <div class="box right v-center">
      <img alt="Enterprise_mobile_applications_1" src="/images/verejne_mobile_applications_2.jpg" data-aos="fade-left" />
      <div class="offset" data-aos="fade-right">
        <p><b>Jaké uživatelské mobilní aplikace jsme vytvořili?</b></p>
        <ul>
          <li>Webový a mobilní systém domena.cz pro společnost IGNUM,  jednoho z největších poskytovatelů domén a webhostingu.</li>
          <li>Unikátní mobilní aplikace pro vyhledávání nemovitosti na míru uživatelům.</li>
        </ul>
      </div>
    </div>
  </div>
  
    <h3 class="text-green mobile-h3" data-aos="fade-up">Nejsme jen programátoři.<br />Máme zkušenosti a software děláme pro lidi.</h3>
  
  <%= partial 'our_technology' %>
</div>
<%= partial 'footer' %>
