---
title: iQuest - Bootstrap
subtitle: Díky unifikaci rozhraní lze jednoduše vytvářet responsivní weby, které jsou zcela použitelné od velkých monitorů (desktopových PC), až po malé displeje mobilních telefonů.
---
<div class="page-load">
  <div class="page-scroll-show page-offset bootstrap">
    <div class="header wrapper-center">
      <div class="inner-center">
        <img class="logo" alt="Bootstrap" src="/images/Techs/bootstrap.png" data-aos="fade-up" />
      </div>
    </div>
    <div class="content">
      <a class="page-scroll-left" href="#" data-aos="fade-left"> <i class="fa fa-4x fa-arrow-circle-left"></i>
      </a>
      <a class="page-scroll-right" href="#" data-aos="fade-right"> <i class="fa fa-4x fa-arrow-circle-right"></i>
      </a>
      <div class="row">
        <div class="col-60">
          <a class="back text-blue" onclick="window.history.back(); return false;" href="#" data-aos="fade-left"> <i class="fa fa-lg fa-arrow-left"></i> <b>Zpět</b>
          </a>
          <h1 data-aos="fade-up">Bootstrap</h1>
          <p data-aos="fade-up">Framework <b>Bootstrap</b> slouží k úpravě typografie, formulářů, tlačítek a dalších komponent HTML, CSS, layoutu webů a webových aplikací. Díky unifikaci rozhraní lze jednoduše vytvářet <b>responsivní weby</b>, které jsou zcela použitelné od velkých monitorů (desktopových PC), až po malé displeje mobilních telefonů.</p>
        </div>
        <div class="col-40">
          <div class="panel" data-aos="fade-up">
            <div style="height: 12px;"></div>
            <i class="fa fa-external-link-square"></i>&nbsp;&nbsp;<a href="http://getbootstrap.com/" target="_blank">getbootstrap.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  page_scroll(["ruby-on-rails", "emberjs", "bootstrap", "sass", "cordova", "html5", "heroku", "git", "newrelic", "rabbitmq", "postgresql", "elastic", "firebase"]);
</script>
