---
title: iQuest - Internal information system for the company Eurosignal
---
<div class="page-load">
  <div class="page-scroll-show page-offset eurosignal">
    <div class="header wrapper-center">
      <div class="inner-center">
        <img class="logo" alt="Eurosignal_inverse" src="/images/Refs/eurosignal_inverse.png" data-aos="fade-up" />
      </div>
    </div>
    <div class="content">
      <a class="page-scroll-left" href="#" data-aos="fade-left"> <i class="fa fa-4x fa-arrow-circle-left"></i>
      </a>
      <a class="page-scroll-right" href="#" data-aos="fade-right"> <i class="fa fa-4x fa-arrow-circle-right"></i>
      </a>
      <div class="row">
        <div class="col-60">
          <a class="back text-blue" onclick="window.history.back(); return false;" href="#" data-aos="fade-left"> <i class="fa fa-lg fa-arrow-left"></i> <b>Zpět</b>
          </a>
          <h1 data-aos="fade-up">Vnitrofiremní informační systém pro společnost Eurosignal</h1>
          <h3 data-aos="fade-up">Komplexní vnitrofiremní informační systém s klientskou samoobsluhou pro poskytovatele internetového připojení.</h3>
          <p data-aos="fade-up">Vybudovali jsme a rozvíjíme firemní informační systém pro rychle se rozvíjejícího českého poskytovatele internetového připojení, IPTV a dalších služeb.</p>
          <p data-aos="fade-up">Systém umožňuje kompletní správu klientů, smluv, tarifů a dalších potřebných dat pro efektivní řízení firmy s tisíci připojenými zákazníky.</p>
          <p data-aos="fade-up">Systém umožňuje rovněž přímé připojení techniků v terénu a management služeb zákazníkům i samoobsluhu, přes kterou si zákazníci sami mohou upravovat vybraná nastavení a díky které mají přístup k potřebným informacím a dokumentům.</p>
          <p data-aos="fade-up">Pro maximální zjednodušení a urychlení práce je systém integrován na účetní software i na hardwarové prostředky internetové sítě.</p>
        </div>
        <div class="col-40">
          <div class="icons" data-aos="fade-left">
            <img alt="Notebook_and_mouse_cursor_128" src="/images/nnotebook_and_mouse_cursor_128.png" />
            <img alt="Go_to_web_128" src="/images/ggo_to_Web_128.png" />
            <img alt="Phone_with_hand_128" src="/images/pphone_with_Hand_128.png" />
          </div>
          <div class="skills panel" data-aos="fade-up">
            <p><b>Potřebné dovednosti:</b>
              <ul>
                <li><a href="#detailni_funkcni_procesni_a_datova_analyza">Detailní funkční, procesní a datová analýza.</a></li>
                <li><a href="#navrh_informacniho_systemu">Návrh informačního systému.</a></li>
                <li><a href="#tvorba_analytickych_modelu">Tvorba analytických modelů.</a></li>
                <li><a href="#programovani">Programování.</a></li>
                <li>Integrace platebních metod.</li>
                <li><a href="#systemova_integrace">Systémová integrace.</a></li>
                <li>Integrace hardwarových prostředků sítě.</li>
                <li>Implementace mapových subsystémů.</li>
                <li>Trvalý rozvoj rozsáhlého informačního systému.</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial 'skill_list' %>

<script type="text/javascript">
  page_scroll(["greenswan", "partspoint", "cemio", "modry-andel", "procare", "eurosignal", "cia-news", "autoprima", "ignum", "bahal", "amca", "hasek", "extenso", "paartyy"]);
</script>
