---
title: iQuest - CRM (client relationship management) system for the Green-Swan Pharmaceuticals CR a.s.
---
<div class="page-load">
  <div class="page-scroll-show page-offset greenswan">
    <div class="header wrapper-center">
      <div class="inner-center">
        <img class="logo" alt="Greenswan" src="/images/Refs/greenswan.png" />
      </div>
    </div>
    <div class="content">
      <a class="page-scroll-left" href="#"> <i class="fa fa-4x fa-arrow-circle-left"></i>
      </a>
      <a class="page-scroll-right" href="#"> <i class="fa fa-4x fa-arrow-circle-right"></i>
      </a>
      <div class="row">
        <div class="col-60">
          <a class="back text-blue" onclick="window.history.back(); return false;" href="#"> <i class="fa fa-lg fa-arrow-left"></i> <b>Back</b>
          </a>
          <h1>CRM (client relationship management) system for the Green-Swan Pharmaceuticals CR a.s.</h1>
          <h3>CRM management system tailored to business representatives.</h3>
          <p>We have sped up the work of a team of sales representatives.</p>
          <p>Green-Swan Pharmaceuticals is one of the leading producers and distributors of dietary supplements on the Czech and Slovak markets. We are encountered with products GS in commercials on TV and on the shelves of pharmacies in the Czech and Slovak Republics.</p>
          <p>We have developed and constantly we keep working on the CRM system (Client Relationship Management) for this important customer. The system is designed and optimized for efficient management of sales representatives in the field. Due the sophistication of each detail and because of our long-term experience in developing software to support field workers, we have managed to maximize sales performance of sales representatives.</p>
          <p>Perfect overview of their products and competitive products and their sales, customer business performance, current business events, possible benefits for different customers, etc. This and much more is provided by the mobile applications business of the representatives. Directly from the tablet you can send orders via online system integrated directly with distributors. The analytical part provides to the management a detailed report on sales, customers and individual members and entire sales teams. And it is done historically and in the real time too. Integration with internal ERP system accelerates back-office processes of the company.</p>
          <p><b>The system operates on the Czech and Slovak markets.</b></p>
        </div>
        <div class="col-40">
          <div class="icons">
            <img alt="Notebook_and_mouse_cursor_128" src="/images/nnotebook_and_mouse_cursor_128.png" />
            <img alt="Go_to_web_128" src="/images/ggo_to_Web_128.png" />
            <img alt="Phone_with_hand_128" src="/images/pphone_with_Hand_128.png" />
          </div>
          <div class="skills panel">
            <p><b>Required Skills:</b>
              <ul>
                <li><a href="#detailni_funkcni_procesni_a_datova_analyza">Detailed functional, process and data analysis.</a></li>
                <li><a href="#navrh_informacniho_systemu">Design of an information system.</a></li>
                <li><a href="#tvorba_analytickych_modelu">Analytic model creation.</a></li>
                <li><a href="#programovani">Programming.</a></li>
                <li><a href="#systemova_integrace">System integration.</a></li>
                <li><a href="#projektove_rizeni">Project management.</a></li>
                <li><a href="#vyvoj_pro_mobilni_zarizeni">Development for mobile devices.</a></li>
                <li><a href="#integrace_mapoveho_subsystemu">Integration of mapping subsystem.</a></li>
                <li><a href="#adaptace_uzivatelu">Adaptation of users.</a></li>
                <li><a href="#provozovani_v_prostredi_cloudu">Running in a cloud environment.</a></li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial 'skill_list' %>

<script type="text/javascript">
  page_scroll(["greenswan", "partspoint", "cemio", "modry-andel", "procare", "eurosignal", "cia-news", "autoprima", "ignum", "bahal", "amca", "hasek", "extenso", "paartyy"]);
</script>
