---
title: iQuest - Web and mobile applications for dispatching taxis Blue Angel
---
<div class="page-load">
  <div class="page-scroll-show page-offset modry-andel">
    <div class="header wrapper-center">
      <div class="inner-center">
        <img class="logo" alt="modry-andel_inverse" src="/images/Refs/modry-andel_inverse.png" data-aos="fade-up" />
      </div>
    </div>
    <div class="content">
      <a class="page-scroll-left" href="#" data-aos="fade-left"> <i class="fa fa-4x fa-arrow-circle-left"></i>
      </a>
      <a class="page-scroll-right" href="#" data-aos="fade-right"> <i class="fa fa-4x fa-arrow-circle-right"></i>
      </a>
      <div class="row">
        <div class="col-60">
          <a class="back text-blue" onclick="window.history.back(); return false;" href="#" data-aos="fade-left"> <i class="fa fa-lg fa-arrow-left"></i> <b>Zpět</b>
          </a>
          <h1 data-aos="fade-up">Webová a mobilní aplikace pro dispečink taxislužby Modrý anděl</h1>
          <h3 data-aos="fade-up">Vytvořili jsme kompletní softwarové zázemí od call-centra po web a napojení mobilních aplikací pro taxislužbu Modrý anděl.</h3>
          <p data-aos="fade-up">V roce 2007, kdy nejobvyklejším způsobem komunikace dispečinků s posádkami taxi, jsme navrhli, vytvořili a nasadili moderní software využívající smartphony a automatické řízení provozu jednotlivých posádek.</p>
        </div>
        <div class="col-40">
          <div class="icons" data-aos="fade-left">
            <img alt="Notebook_and_mouse_cursor_128" src="/images/nnotebook_and_mouse_cursor_128.png" />
            <img alt="Go_to_web_128" src="/images/ggo_to_Web_128.png" />
            <img alt="Phone_with_hand_128" src="/images/pphone_with_Hand_128.png" />
          </div>
          <div class="skills panel" data-aos="fade-up">
            <p><b>Potřebné dovednosti:</b>
              <ul>
                <li><a href="#detailni_funkcni_procesni_a_datova_analyza">Detailní funkční, procesní a datová analýza.</a></li>
                <li><a href="#navrh_informacniho_systemu">Návrh informačního systému.</a></li>
                <li><a href="#tvorba_analytickych_modelu">Tvorba analytických modelů.</a></li>
                <li><a href="#programovani">Programování.</a></li>
                <li><a href="#systemova_integrace">Systémová integrace.</a></li>
                <li><a href="#projektove_rizeni">Projektové řízení.</a></li>
                <li><a href="#vyvoj_pro_mobilni_zarizeni">Vývoj pro mobilní zařízení.</a></li>
                <li><a href="#integrace_mapoveho_subsystemu">Integrace mapového subsystému.</a></li>
                <li><a href="#adaptace_uzivatelu">Adaptace uživatelů.</a></li>
                <li><a href="#provozovani_v_prostredi_cloudu">Provozování v prostředí cloudu.</a></li>
                <li><a href="#integrace_telefonni_ustredny_pro_hovory_a_sms">Integrace telefonní ústředny pro hovory a SMS</a></li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial 'skill_list' %>

<script type="text/javascript">
  page_scroll(["greenswan", "partspoint", "cemio", "modry-andel", "procare", "eurosignal", "cia-news", "autoprima", "ignum", "bahal", "amca", "hasek", "extenso", "paartyy"]);
</script>
