---
title: iQuest - Web and mobile applications for dispatching taxis Blue Angel
---
<div class="page-load">
  <div class="page-scroll-show page-offset modry-andel">
    <div class="header wrapper-center">
      <div class="inner-center">
        <img class="logo" alt="modry-andel_inverse" src="/images/Refs/modry-andel_inverse.png" />
      </div>
    </div>
    <div class="content">
      <a class="page-scroll-left" href="#"> <i class="fa fa-4x fa-arrow-circle-left"></i>
      </a>
      <a class="page-scroll-right" href="#"> <i class="fa fa-4x fa-arrow-circle-right"></i>
      </a>
      <div class="row">
        <div class="col-60">
          <a class="back text-blue" onclick="window.history.back(); return false;" href="#"> <i class="fa fa-lg fa-arrow-left"></i> <b>Back</b>
          </a>
          <h1>Web and mobile applications for dispatching taxis Blue Angel</h1>
          <h3>We have created a complete software facilities from call centers to Web connections and mobile applications for taxi Blue Angel.</h3>
          <p>In 2007, the most common way of communicating with crews dispatching taxis, we have designed, developed and deployed advanced software using smartphones and automatic operation of the individual crews.</p>
        </div>
        <div class="col-40">
          <div class="icons">
            <img alt="Notebook_and_mouse_cursor_128" src="/images/nnotebook_and_mouse_cursor_128.png" />
            <img alt="Go_to_web_128" src="/images/ggo_to_Web_128.png" />
            <img alt="Phone_with_hand_128" src="/images/pphone_with_Hand_128.png" />
          </div>
          <div class="skills panel">
            <p><b>Required Skills:</b>
              <ul>
                <li><a href="#detailni_funkcni_procesni_a_datova_analyza">Detailed functional, process and data analysis.</a></li>
                <li><a href="#navrh_informacniho_systemu">Design of an information system.</a></li>
                <li><a href="#tvorba_analytickych_modelu">Creation of analytical models.</a></li>
                <li><a href="#programovani">Programming.</a></li>
                <li><a href="#systemova_integrace">System integration.</a></li>
                <li><a href="#projektove_rizeni">Project management.</a></li>
                <li><a href="#vyvoj_pro_mobilni_zarizeni">Developing for mobile devices.</a></li>
                <li><a href="#integrace_mapoveho_subsystemu">Integration of mapping subsystem.</a></li>
                <li><a href="#adaptace_uzivatelu">Adaptation of users.</a></li>
                <li><a href="#provozovani_v_prostredi_cloudu">Running in a cloud environment.</a></li>
                <li><a href="#integrace_telefonni_ustredny_pro_hovory_a_sms">Integration of telephone switchboard for calls and SMS</a></li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial 'skill_list' %>

<script type="text/javascript">
  page_scroll(["greenswan", "partspoint", "cemio", "modry-andel", "procare", "eurosignal", "cia-news", "autoprima", "ignum", "bahal", "amca", "hasek", "extenso", "paartyy"]);
</script>
