---
title: iQuest - Hledáme Ruby on Rails vývojáře pro Prahu a Brno
subtitle: Do našeho týmu přijmeme programátora, který umí nebo se chce naučit tvořit webové a mobilní aplikace v Ruby on Rails.
---
<div class="page-offset">
 <div class="box job">
    <div class="text">
      <h3>Hledáme Ruby on Rails vývojáře pro Prahu a Brno</h3>
      <p><strong>Do našeho týmu přijmeme programátora, který umí nebo se chce naučit tvořit webové a mobilní aplikace v Ruby on Rails.</strong><br /><br />
        Vítáme i vývojáře <strong>v jiných programovacích jazycích</strong>, kteří se chtějí Ruby on Rails naučit.<br /><br />
        Jsme menší tým, ale pracujeme na velmi zajímavých a pěkných projektech pro zákazníky všech velikostí.<br /><br />
        Naší snahou je, abychom vyvíjeli vždy <strong>v co nejvyšší kvalitě</strong> a zákazníkovi předávali <strong>bezchybný software</strong>, který je kromě funkcionality i výborně uživatelsky ovladatelný a designově pěkný.<br /><br />
        <strong>Pravidelně se vzděláváme</strong>, děláme interní semináře, účastníme se konferencí. Snažíme se s každým projektem posunout naši interní metodiku iQuest Way tak, abychom neustále zlepšovali to, jak věci děláme.<br /><br />
        Na projektech vždy pracují krom Rails vývojářů i UX designer, front-end vývojáři a testeři. Ačkoliv každý projekt má svůj dedikovaný tým, vždy danou problematiku řešíme společně, abychom maximálně sdíleli znalosti a zkušenosti.<br /><br />
        Záleží nám hlavně na výsledku, takže pokud to ničemu nevadí, klidně <strong>pracujeme občas i vzdáleně</strong>.<br /><br />
        Troufáme si říct, že jsme <strong>dobrý tým</strong>. Pracujeme spolu ve stejném složení dlouhodobě, snažíme se jeden druhému pomáhat a hlavně společně vždy směřovat k nejlepšímu výsledku.<br /><br /></p>
        <p class="text-center"><i>Uvažuješ, že bys chtěl v iQuestu pracovat?</i></p>
        <p class="text-center"><a href="/kontakt" class="contact-us orange">Napiš nám</a></p>
    </div>
  </div>
</div>

<script type="text/javascript">
  console.log($('body').addClass('not-only-money'));
</script>

<%= partial 'footer' %>
