---
title: iQuest - We are looking for Ruby on Rails developers for Prague and Brno
subtitle: In our team we take a programmer who can or wants to learn how to generate web and mobile applications in Ruby on Rails.
---
<div class="page-offset">
 <div class="box job">
    <div class="text">
      <h3>We are looking for Ruby on Rails developers for Prague and Brno</h3>
      <p><strong>In our team we take a programmer who can or wants to learn how to generate web and mobile applications in Ruby on Rails.</strong><br /><br />
        We welcome and developers <strong>in other programming languages</strong> ​​who want to learn Ruby on Rails<br /><br />
        We are a small team, but we are working on a very exciting and wonderful projects for customers of all sizes.<br /><br />
        Our objective is always to develop <strong>the highest quality</strong> and customer handed <strong>flawless software</strong>,
        which is in addition to excellent functionality and user-controllable and nice design.<br /><br />
        <strong>Regularly we educate</strong>, we do in-house seminars, participate in conferences. We're trying to move each project our internal methodology iQuest Way so that we can constantly improve how we do things.<br /><br />
        Always work on projects besides Rails developers and UX designer, front-end developers and testers. Although each project has its own dedicated team, always we address the issue together, we maximize shared knowledge and experience.<br /><br />
        It depends mainly on the outcome, so if it is not a problem, <strong>sometimes quietly strong</strong>.<br /><br />
        We dare to say that we're a <strong>good team</strong>. We work together in the same composition in the long term, we try to help each other and especially together we always aim to the best result.<br /><br /></p>
        <p class="text-center"><i>Are you thinking that you want to work in iQuest?</i></p>
        <p class="text-center"><a href="/en/contact" class="contact-us orange">Write to us</a></p>
    </div>
  </div>
</div>

<script type="text/javascript">
  console.log($('body').addClass('not-only-money'));
</script>

<%= partial 'footer' %>
