---
title: iQuest - Not only money
subtitle: Není to jen o práci, také pomáháme. Chceme, aby iQuest byl firmou, která je postavena na dobrých základech.
---
<div class="page-offset">
  <div class="title">
    <div class="heart"></div>
    <h1 data-aos="fade-up">Chceme alespoň nepatrně přispět k tomu, aby na světě bylo lépe.</h1>
    <h2 data-aos="fade-up">Na světě nejsou jen peníze, úspěch, úsměvy, radost. Okolo nás je hodně utrpení a bolesti. Víme, že svět nezachráníme, ale stačí nezavírat oči před problémy, které nás obklopují.</h2>
  </div>
  <div class="box">
    <div class="image">
      <img alt="Nom_back1" src="/images/nom_back1.jpg" />
    </div>
    <div class="text" data-aos="fade-up">
      <h3>Pomáháme nadaci, která se stará o nemocné a zneužívané děti v Africe</h3>
      <p>Náš kamarád Jirka Pergl založil nadaci OMDC (One more day for children). Podařilo se mu postavit v Africe dětský domov pro děti, které jsou často od už 4 let sexuálně zneužívány, prodávány do manželství a většinou HIV pozitivní. Nadaci se dnes
        daří organizovat adopce na dálku, sbírky pro postižené děti a neustálou podporu dětského domova.</p>
      <p>Nechcete se k nám připojit a začít i vy podporovat nadaci OMDC?</p>
    </div>
  </div>
  <hr />
  <div class="thumbs row">
    <div class="col-25">
      <img class="circle" alt="Nom_circle1" src="/images/nom_circle1.jpg" data-aos="fade-up" />
      <div class="text" data-aos="fade-up">
        <h3>Centrum pomoci <br />drogově závislým</h3>
        <p>S žádným problémem život nekončí. A to ani v situacích, kdy člověk vlastním zaviněním podlehl drogové závislosti a nemůže už jít dál bez pomoci druhých. Ti, kteří se rozhodli změnit svůj život k lepšímu, nemají lehkou cestu. Na konci té cesty
          ale vidí světlo a my chceme, aby jim zářilo ještě o trochu víc.</p>
      </div>
    </div>
    <div class="col-25">
      <img class="circle" alt="Nom_circle2" src="/images/nom_circle2.jpg" data-aos="fade-up" />
      <div class="text" data-aos="fade-up">
        <h3>Postižené mozkovou mrtvicí</h3>
        <p>Naše práce je založena na vymýšlení, tvoření, učení se nových věcí. Mozek je náš základní pracovní nástroj. Jsme pyšní, že ho máme a že nám funguje.</p>
        <p>Okolo nás jsou lidé, kterým také fungoval a také vynikali ve svém oboru. Stačila ale jediná vteřina a ocitli se v doživotní neschopnosti. Život se změnil od základu.</p>
      </div>
    </div>
    <div class="col-25">
      <img class="circle" alt="Nom_circle3" src="/images/nom_circle3.jpg" data-aos="fade-up" />
      <div class="text" data-aos="fade-up">
        <h3>Adoptovali jsme <br />indického kluka</h3>
        <p>Svojí práci máme díky vzdělání. Práce nás těší, motivuje, naplňuje. Chceme stejný pocit dopřát i indickému chlapci, kterému rodina vzdělání dopřát nemůže. V rámci adopce na dálku jsme zcela uhradili školní docházku indickému chlapci, který je
          dnes díky svému vzdělání schopen postarat se o sebe i svou rodinu.</p>
      </div>
    </div>
    <div class="col-25">
      <img class="circle" alt="Nom_circle4" src="/images/nom_circle4.jpg" data-aos="fade-up" />
      <div class="text" data-aos="fade-up">
        <h3>ILCO - Dobrovolné sdružení stomiků</h3>
        <p>Každý člověk zdravý čí nemocný chce prožit život plný radosti a štěstí. Lidé se stomií jenom potřebuji trochu podpory a my jim tu podporu chceme dát.</p>
      </div>
    </div>
  </div>
</div>

<%= partial 'footer' %>
