---
title: iQuest - Not only money
subtitle: We want to help at least a little to make the world better.
---
<div class="page-offset">
  <div class="title">
    <div class="heart"></div>
    <h1>We want to help at least a little to make the world better.</h1>
    <h2>The world is not just about money, success, smiles, joy. Around us is a lot of suffering and pain. We know that the world will not save, but just not close its eyes to the problems that surround us.</h2>
  </div>
  <div class="box">
    <div class="image">
      <img alt="Nom_back1" src="/images/nom_back1.jpg" />
    </div>
    <div class="text">
      <h3>We are helping a foundation that cares for sick and abused children in Africa</h3>
      <p>Our friend Jirka Pergl started a foundation OMDC (One More Day for children). He managed to build in Africa, a home for children who are often from the last 4 years, sexually abused, sold into marriage, and most HIV-positive. Foundation is doing today to organize long-distance adoption, collections for disabled children and the constant support of the orphanage.</p>
      <p>Will not you join us and start you also support the Foundation OMDC?</p>
    </div>
  </div>
  <hr />
  <div class="thumbs row">
    <div class="col-33">
      <img class="circle" alt="Nom_circle1" src="/images/nom_circle1.jpg" />
      <div class="text">
        <h3>We support center <br />to help drug addicts</h3>
        <p>With no life does not stop the problem. And even in situations where a person culpably succumbed to addiction and can no longer go on without help from others. Those who have decided to change your life for the better, do not light the way. At the end of that road but we see the light and we want to make them shine a little more.</p>
      </div>
    </div>
    <div class="col-33">
      <img class="circle" alt="Nom_circle2" src="/images/nom_circle2.jpg" />
      <div class="text">
        <h3>We are helping people <br />affected by stroke</h3>
        <p>Our work is based on inventing, creating, learning new things. The brain is our basic working tool. We are proud that we have him, and that we are working.</p>
        <p>Around us there are people who also work and have excelled in their field. But could one second and found themselves in lifelong disability. Life has changed fundamentally.</p>
      </div>
    </div>
    <div class="col-33">
      <img class="circle" alt="Nom_circle3" src="/images/nom_circle3.jpg" />
      <div class="text">
        <h3>We have adopted <br />an Indian boy</h3>
        <p>Its work we have through education. Work pleases us, motivates fulfillment. We want the same feel and enjoy an Indian boy who can indulge in family education. Within distance adoption are fully paid for schooling the Indian boy who is today thanks to their education can take care of himself and his family.</p>
      </div>
    </div>
  </div>
</div>

<%= partial 'footer' %>
